@import "variables.css.sass"
.response
  #question-title
    &.well
      background-color: $primary_background_color
      color: white
      margin-bottom: 0
      h4
        text-align: center

  .order-choices
    .handle
      position: relative
    li
      .panel
        margin-bottom: 0
