.img-responsive
  width: 100%

.revealable
  background-color: transparent
  border-color: transparent
  &:hover, &:focus
    outline: none
    border-color: white
    background-color: rgba(255,255,255,0.2)


.question-header-style-title
  padding: 10px
  .title
    width: 100%
    text-align: center
    box-shadow: none
    resize: none

.btn-default.negative, .btn-primary.negative
  background-color: transparent
  background-color: white
  border-style: solid
  border-width: 1px
  border-color: $primary_border_color
  color: $primary_color
  &.active
    color: white!important
    background-color: $primary_background_color
    *
      color: white!important

footer#footer
  margin-top: 0


#content_constraint
  display:  block
  margin: auto
  .panel
    background: none !important
    border: none


@media only screen and (min-width : 771px)
  #content_constraint
    max-width: 868px

@media only screen and (max-width : 770px)
  #content_constraint
    max-width: 700px