#clean-canvas
  #undertop
    padding-top: 81px
    padding-left: 0
    padding-right: 0
    max-width: none !important
    width: 100% !important
    position: relative
    overflow: hidden
    background: #1e5799
    background: #1e5799
    background: -moz-linear-gradient(top,  #1e5799 0%, #a6cdfc 0%, #6207f4 33%, #6207f4 70%, #a6cdfc 100%)
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(0%,#a6cdfc), color-stop(33%,#6207f4), color-stop(70%,#6207f4), color-stop(100%,#a6cdfc))
    background: -webkit-linear-gradient(top,  #1e5799 0%,#a6cdfc 0%,#6207f4 33%,#6207f4 70%,#a6cdfc 100%)
    background: -o-linear-gradient(top,  #1e5799 0%,#a6cdfc 0%,#6207f4 33%,#6207f4 70%,#a6cdfc 100%)
    background: -ms-linear-gradient(top,  #1e5799 0%,#a6cdfc 0%,#6207f4 33%,#6207f4 70%,#a6cdfc 100%)
    background: linear-gradient(to bottom,  #1e5799 0%,#a6cdfc 0%,#6207f4 33%,#6207f4 70%,#a6cdfc 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#a6cdfc',GradientType=0 )




    #flash
    padding-top: 81px


