
#clean-canvas
  #undertop
    padding-top: 25px
    padding-bottom: 20px
    padding-left: 0
    padding-right: 0
    max-width: none !important
    width: 100% !important
    position: relative
    overflow: hidden
    background-image: image-url('welcome_blured.jpg')
    background-attachment: fixed
    background-size: cover



