= simple_form_for [:question, setup_response_matcher(@response_matcher)], remote:true do |f|
  = f.association :question, as: :hidden
  = f.input :type, as: :hidden
  = render "response_matcher_fields", f:f
  =f.submit "Add", class: %w(btn btn-success)