.summary
  .modal-body
    %button.close{"data-dismiss" => "modal", type: "button"} ×
    %h2.modal-title=@question.title
    .row
      This is a summary
    .row
      .col-md-12.submit
        .row
          .col-md-9.buttons
            - if @next_question
              = link_to question_path(@next_question), remote:true, class: %w{btn-link skip} do
                %span.glyphicon.glyphicon-play
                Next Question
          .col-md-3