.modal.question.fade.modal-blur{role: :dialog, style: "display: none;", tabindex: "-1"}
  .modal-dialog.modal-lg
    .modal-content
#undertop.container
  #portfolio
    .container
      .row
        .col-md-12
          #filters_container
      .row
        .col-md-12
          #gallery_container
            - @questions.each do |question|
              .photo{class: question.category.name.parameterize.underscore.to_sym}
                = responsive_image_tag((@questions.sample.image.web.url || question.category.image.web.url), class: "img-responsive")
                .icon
                  = responsive_image_tag question.category.icon.web.url
                  %small.category= question.category.name
                = link_to question_path(question), remote:true, class: :mask do
                  %h3=question.title
