#portfolio
  .container
    #gallery_container.row
      - if @questions.blank?
        %h2.col-sm-12.text-center
          Please check back later.
      - @questions.each do |question|
        .col-sm-4
          =link_to new_question_response_path(question), class: :thumbnail do
            = responsive_image_tag question.web_image_url
            .mask
            .title=question.title
            .icon
              = responsive_image_tag question.category.icon.web.url
              %small.category= question.category.name
    .row
      .col-sm-12.text-center
        = will_paginate @questions