.response
  .modal-header
    %button.close{"data-dismiss" => "modal", type: "button"} ×
    %h6.modal-title=@question.category.name
    %h4.modal-title=@question.title
  .modal-body
    - case @question.type
    - when "ChoiceQuestion"
      = render "responses/choice_response", response:@response
