.panel.panel-default
  .panel-heading
    .panel-title Response Summary
    - if @next_question
      = link_to new_question_response_path(@next_question), class: %w{btn-link skip} do
        Next Question
        %span.glyphicon.glyphicon-play
  .panel-body.summary
    .row
      =render 'response_fields', question:@question
    .row
      =render '/widgets/tc_summary_tabs/tc_summary_tabs', locals:{User: User, question: @question}