:sass
  .response_counter
    text-align: right
    font-size: 1.5rem
    width: 4em
    position: absolute
    right: 10px
    top: 10px
    color: white
    background-color: rgba(0,0,0,0.5)
    padding-left: 10px
    padding-right: 10px
    border: solid 1px white

.row#content_constraint
  .col-xs-12.col-sm-8.col-sm-push-2.img-overlay
    .panel.panel-default.form
      .panel-heading
        .panel-title
          .row
            .col-xs-3
            .col-xs-6
              .text-center Question Results
            - if @next_question
              .col-xs-3
                = link_to new_question_response_path(@next_question) do
                  %span Next >
      .panel-body.summary
        .row.response
          %div
            =render 'response_fields', question:@question
        .row
          .col-xs-12
            =render '/widgets/tc_summary_tabs/tc_summary_tabs', locals:{User: User, question: @question}
        .row
          .tab-pane.col-xs-12
            = render "comments/form", question:@question
