:sass
  .response_counter
    text-align: right
    font-size: 1.5rem
    width: 4em
    position: absolute
    right: 10px
    top: 10px
    color: white
    background-color: rgba(0,0,0,0.3)
    padding-left: 10px
    padding-right: 10px
    border: solid 1px white
%img.blured-background{src: "#{@question.web_image_url||image_path("fallback/choice1.png")}"}
.row#content_constraint
  .col-xs-12.col-sm-8.col-sm-push-2.img-overlay
    .panel.panel-default
      .panel-heading
        .panel-title
          .row
            .col-xs-6.col-xs-push-3.col-sm-8.col-sm-push-2
              Question Results
            - if @next_question
              .col-xs-3.col-sm-2
                = link_to new_question_response_path(@next_question) do
                  %span.glyphicon.glyphicon-chevron-right
      .panel-body.summary
        .row.response
          .col-xs-12
            =render 'response_fields', question:@question
        .row
          .col-xs-12
            =render '/widgets/tc_summary_tabs/tc_summary_tabs', locals:{User: User, question: @question}