.tab-content.notifications-tab-content
  %ul.items
    - @notifications.each do |notification|
      %li
        - if (notification.isQuestionUpdated? || notification.isQuestionTargeted?) && notification.question.present?
          = link_to notification.body, @user.answered_questions.where(id:notification.question).blank? ? new_question_response_path(notification.question) : summary_question_path(notification.question)
        - elsif notification.isUserFollowed? && notification.follower_id.present?
          - follower = User.find notification.follower_id
          = link_to notification.body, follower
        - else
          = notification.body
        - unless notification.read?
          .pull-right
            .badge.badge-warning New
  .center
    = will_paginate @notifications
