.tab-content.notifications-tab-content
  %ul.items
    - @notifications.each do |notification|
      %li
        - if !notification.question.nil? && notification.isQuestionUpdated? || notification.isQuestionTargeted?
          = link_to notification.body, new_question_response_path(notification.question)
        - else
          = notification.body
        - unless notification.read?
          .pull-right
            .badge.badge-warning New
  .center
    = will_paginate @notifications
