.navbar.navbar-light.navbar-fixed-top{role: "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle.pull-right{data:{target: "#main-nav", toggle: "collapse"}, type: :button}
        %span.sr-only Menu
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to root_path, class:"navbar-brand" do
        .logo= image_tag 'statisfy-logo.png'
        %h1.hide Statisfy
    #main-nav.collapse.navbar-collapse{:role => "navigation"}
      = render_navigation
