= simple_form_for [@commentable, Comment.new] do |form|
  = form.input :body, as: :text,:placeholder =>"Comment on your response", label: false, input_html:{rows:4}
  = form.input :user_id, as: :hidden, input_html: {value: current_user.id}
  %br
  %button.btn.btn-primary.negative.col-xs-12.btn-lg{type: :submit} Submit Comment