@import 'ad_unit/variables';

.medium_rectangle {
  #content, #embed {
    width: 300px;
    height: 250px;
    max-width: 300px;
    max-height: 250px;
  }

  #embed {
    $padding: 5px;
    width: 300px - ($padding * 2);
    height: 250px - 19px - ($padding * 2);
    padding: $padding;
  }

  #title {
    height: 36px;
    width: 294px;
    padding: 5px 3px;
    h1 {
      font-size: 15px;
      line-height: 18px;
    }
  }

  #question {
    height: 183px;
  }

  .nav-button {
    width: 18px;
  }

  #between-button-content {
    margin-left: 19px;
    margin-right: 19px;
  }

  #footer {
    width: 294px;
  }

  #thank-you {
    height: 231px;
    max-height: 231px;
    overflow: hidden;
  }

  // ********************************
  // TextChoiceQuestion/YesNoQuestion

  #question.TextChoiceQuestion,
  #question.YesNoQuestion {
    .nav-button .icon { margin-top: 45px; }
    #between-buttons { height: 116px; }

    &.choices-3 {
      .nav-button .icon { margin-top: 32px; }
      #between-buttons { height: 83px; }
    }

    &.choices-4 {
      .nav-button .icon { margin-top: 16px; }
      #between-buttons { height: 50px; }
    }
  }

  // ********************************
  // Image Choice Question (Pick One)

  #question.ImageChoiceQuestion {
    $total: 182px;
    $text: 33px;
    $margin: 75px;

    .nav-button .icon { margin-top: $margin; }
    #between-buttons { height: $total; }

    &.choices-1, &.choices-2 {
      .image-choice {
        .spacer { height: $total - $text; }
        .overlay .overlay-text  { margin-top: $margin - 23px; }
        .overlay i.overlay-text { margin-top: $margin; }
      }
    }

    &.choices-3, &.choices-4 {
      .image-choice {
        .spacer { height: ($total / 2) - $text; }
        .overlay .overlay-text  {
          margin-top: 20px;
          font-size: 18px;
        }
        .overlay i.overlay-text {
          margin-top: 20px;
          font-size: 24px;
        }
      }
    }
  }

  // ********************************
  // Multiple Choice Question (Pick Two)

  #question.MultipleChoiceQuestion {
    @mixin multiple-choice-height($height) {
      $text: 33px;
      #between-buttons { height: $height; }

      $half-height: ($height / 2) - 1px;
      .image-choice {
        height: $half-height;
        .spacer { height: $half-height - $text; }
      }

      .overlay .overlay-text  {
        margin-top: 26px;
        font-size: 16px;
      }

      .overlay i.overlay-text {
        margin-top: 20px;
        font-size: 24px;
      }
    }

    .image-choice:hover { cursor: pointer; }
    .nav-button .icon { margin-top: 64px; }
    .overlay .overlay-text { margin: 20px; }

    @include multiple-choice-height(149px);

    &.has-response {
      .image-choice:hover { cursor: default; }
      .nav-button .icon { margin-top: 75px; }
      .overlay .overlay-text { margin: 31px; }
      @include multiple-choice-height(181px);
    }
  }

  // ********************************
  // Text Question

  #question.TextQuestion {
    .nav-button .icon { margin-top: 30px; }
    #between-buttons { height: 90px; }

    textarea {
      width: 300px - 14px;
      height: 45px;
    }

    .bar-blue {
      height: 47px;
      padding-top: 12px;
    }
  }

  // ********************************
  // Order Question

  #question.OrderQuestion {
    @mixin order-choice-height($height) {
      #between-buttons { height: $height; }

      $choices: 2 3 4;
      @each $choice in $choices {
        &.choices-#{$choice} {
          $bar-height: ($height - 3px) / $choice;

          .order-choice-bar,
          .order-choice-title,
          .overlay,
          .bar-blue,
          .bar-graph {
            height: $bar-height;
          }
        }
      }
    }

    .nav-button .icon { margin-top: 64px; }
    .overlay .overlay-text { margin-top: 6px; }


    @include order-choice-height(149px);

    &.has-response {
      .nav-button .icon { margin-top: 85px; }
      @include order-choice-height(182px);
    }
  }
}
