.col-xs-6.nested-fields.answer
  .choice.imagechooser
    .hidden
      .canned{data:{ids:canned_choice_image_ids, urls:canned_choice_image_web_urls}}
      .id=f.input :background_image_id, as: :hidden
    .bgimage= responsive_image_tag f.object.web_image_url, class: "img-responsive"
    .overimage
      =link_to_remove_association "Remove Choice", f
      .image_control
        <Image manipulation tools>
        =link_to '#', class: :prev_image do
          %span.glyphicon.glyphicon-chevron-left
        =link_to '#', class: :next_image do
          %span.glyphicon.glyphicon-chevron-right
      .title=f.input :title, label: false, placeholder: "Type a response"