.col-md-3
.col-md-6
  .imagechoice.panel.panel-default
    .panel-heading
      .panel-title
        =link_to question_types_path do
          %span.glyphicon.glyphicon-chevron-left
    .panel-body
      = simple_form_for @question do |f|
        =f.input :type, as: :hidden
        =f.input :rotate, as: :hidden
        .row.question
          .col-sm-12
            .title=f.input :title, label: false, placeholder: "Ask Your Question Here"
          =f.simple_fields_for :choices do |choice|
            = render 'choice_fields', f:choice
          .links=link_to_add_association 'Add another Choice', f, :choices
        .col-md-12
          .well
            =f.association :category
        .row
          .col-md-6
            .btn-group.btn-group-justified
              =link_to "Preview", '#', class: %w(btn btn-primary)
          .col-md-6
            .btn-group.btn-group-justified
              =f.button :submit, "Continue", class: %w(btn-block)
