:sass
  .comment
    border-bottom-color: #357ebd
    border-bottom-style: solid
    border-bottom-width: 1px
    background-color: white
    padding: 30px
    padding-left: 80px
    position: relative
    font-size: 1.3rem

    .avatar img
      border-radius: 50%
      width: 60px
      height: 60px
      left: 10px
      top: 30px
      position: absolute

    .user_name
      font-weight: bold
      font-size: 1.1em
      color:  #357ebd
    .posted_date
      font-size: 0.8em
      color:  gray
- (question.response_comments + question.comments).sort_by{|c| c.created_at}.reverse.each do |c|
  .comment
    .avatar=gravatar_tag c.user.email, default: :identicon
    %span.user_name
      =c.user.username
    %span.posted_date
      =time_ago_in_words(c.created_at)
      ago
    %p=c.body
