.ImageChoiceQuestion, .MultipleChoiceQuestion {
  #between-buttons {
    height: 100%;
  }
  .image-choice {
    display: inline-block;
    position: relative;
  }
  .overlay {
    top: 0;
    background: white;
    position: absolute;
    display: none;
    z-index: 2;
  }
  .overlay-text {
    line-height: 100%;
    font-weight: 500;
    padding: 15px;
    width: 125px;
    font-size: 24px;
  }
  &.choices-2 {
    .bar {
      position: relative
    }
    .overlay {
      width: 100% !important;
      height: 100% !important;
    }
    form {
      margin-left: 0.6060606061%;
    }
    form > div {
      height: 100%;
    }
    .is-selected {
      margin-left: 47%;
    }
    #between-button-content {
      height: 100%;
    }
    #between-buttons {
      background-color: #fff;
      border: solid rgb(241, 243, 242);
      border-left-width: 7px;
      border-right-width: 7px;
    }
    .image-choice:first-child {
      .bar-graph, .bar-response {
        float: right;
      }
    }
    .image-choice {
      width: 49.05063291%;
      height: 100%;
      .text {
        position: absolute;
        bottom: 0;
        text-align: center;
        padding: 12.913334% 0 0 0;
        height: 16.03333333%;
        font-size: 20px;
        font-weight: 500;
        width: 100%;
        color: white;
      }
    }
    position: relative;
    .bar-blue {
      color: white;
      width: 100%;
      position: absolute;
      bottom: 0;
      height: 16.03333333%;
      font-weight: 500;
      .bar-graph {
        height: 25px;
        min-width: 30px;
        float: left;
        margin-top: -25px;
      }
      .bar-response {
        padding: 2px 5px;
        float: left;
        margin-top: -22px;
      }
      .bar-selected {
        position: absolute;
        bottom: 0;
      }
    }
    button[type="submit"] {
      height: 100%;
      cursor: pointer;
      width: 100%;
      background: none;
      border: none;
      position: relative;
      padding: 0;
      &:focus {
        outline: 0;
      }
      .overlay {
        margin-left: -6px;
      }
      .spacer {
        height: 90px;
      }
      .text {
        color: white;
        background: rgba(0, 0, 0, 0.5);
        font-size: 20px;
        height: 16.03333333%;
        width: 100%;
        position: absolute;
        text-align: center;
        padding: 12.913334% 0 0 0;
      }
    }
  }
  &.choices-3.has-response, &.choices-4.has-response {
    .bar-graph {
      float: left;
      height: 30px;
      position: absolute;
    }
    .bar-response {
      position: relative;
      padding-top: 3px;
      padding-right: 5px;
      float: right;
      font-weight: 500;
      font-size: 20px;
      color: white;
    }
    .bar-blue {
      float: right;
      height: 30px;
      width: 60px;
      top: 0;
      position: relative;
    }

  }
  &.choices-3, &.choices-4 {
    .bar {
      position: relative
    }
    .is-selected {
      margin-left: 45%;
      margin-top: -5%;
    }
    #bellow-buttons {
      height: 16.666666667%;
    }
    #between-buttons {
      height: 72.222222222%;
      background: #F1F3F2;
      padding: 0 2.12121212%;
    }
    #between-button-content {
      padding: 0 !important;
      background: white;
      height: 100%;
      font-size: 0;
    }
    .image-choice {
      position: absolute;
    }
    .overlay {
      height: 100% !important;
      width: 100% !important;
      bottom: 0;
    }
    form {
      height: 100%;
      div {
        height: 100%;
        width: 100%;
        position: absolute;
      }
      button[type="submit"] {
        cursor: pointer;
        background: none;
        width: 100%;
        height: 100%;
      }
    }
    button[type="submit"], .image-choice {
      &:nth-child(2n+1):not(#multiple-choice-submit) {
        margin-right: 1.85%;
      }
      &:focus {
        outline: 0;
      }
      position: relative;
      border: none;
      height: 52.853005%;
      padding: 0;
      width: 49.0505555555%;
      .text {
        padding-top: 5px;
        font-family: Roboto, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 500;
        position: absolute;
        text-align: center;
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        bottom: 0;
        height: 25px;
      }
    }
  }
}
.MultipleChoiceQuestion {
  .is-selected {
    margin-top: 30% !important;
    margin-left: 46% !important;
  }
  .image-choice {
    cursor: pointer;
  }
  button[type="submit"] {
    cursor: pointer;
    height: 60px !important;
    color: white;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    width: 100% !important;
  }

  #below-buttons {
    height: 16%;
    margin-top: 3.3%;
    form, .bar, #multiple-choice-submit {
      height: 100% !important;
    }
  }

}
