.ImageChoiceQuestion, .MultipleChoiceQuestion {
  .image-choice {
    &:first-child, &:nth-child(2) {
      margin-bottom: 2px;
    }
    &:nth-child(1), &:nth-child(3) {
      margin-right: 2px;
      margin-left: 3px;
    }
    width: 155px;
    height: 99px;
    display: inline-block;
  }
  .overlay {
    top: 0;
    background: white;
    position: absolute;
    display: none;
    z-index: 2;
  }
  .overlay-text {
    line-height: 100%;
    font-weight: 500;
    padding: 15px;
    width: 125px;
    font-size: 24px;
  }
  &.choices-2 {
    #between-buttons {
      height: 262px;
      background-color: #fff;
      border: solid rgb(241, 243, 242);
      border-left-width: 7px;
      border-right-width: 7px;
      margin-bottom: 10px;
    }
    .image-choice:first-child {
      .bar-graph, .bar-response {
        float: right;
      }
    }
    &:not(.has-response) {
      .image-choice .text {
        margin-bottom: -62px;
      }
    }
    .image-choice {
      margin: 0 0 6px 0;
      height: 262px;
      .text {
        position: absolute;
        bottom: 0;
        text-align: center;
        padding: 15px 0;
        height: 32px;
        font-size: 20px;
        font-weight: 500;
        width: 155px;
        color: white;
      }
    }
    position: relative;
    .bar-blue {
      color: white;
      width: 155px;
      position: absolute;
      bottom: 0;
      height: 62px;
      font-weight: 500;
      .bar-graph {
        height: 25px;
        min-width: 30px;
        float: left;
        margin-top: -25px;
      }
      .bar-response {
        padding: 2px 5px;
        float: left;
        margin-top: -22px;
      }
      .bar-selected {
        position: absolute;
        bottom: 0;
      }
    }
    button[type="submit"] {
      height: 200px;
      cursor: pointer;
      width: 100%;
      background: none;
      border: none;
      position: relative;
      &:focus {
        outline: 0;
      }
      .overlay {
        margin-left: -6px;
      }
      .spacer {
        height: 90px;
      }
      .text {
        margin-top: 55px;
        margin-left: -6px;
        color: white;
        background: rgba(0, 0, 0, 0.5);
        font-size: 20px;
        height: 32px;
        width: 155px;
        position: absolute;
        text-align: center;
        padding: 15px 0;
      }
    }
  }
  &.choices-3.has-response, &.choices-4.has-response {
    .bar-graph {
      float: left;
      height: 30px;
      position: absolute;
    }
    .bar-response {
      position: relative;
      padding-top: 3px;
      padding-right: 5px;
      float: right;
      font-weight: 500;
      font-size: 20px;
      color: white;
    }
    .bar-blue {
      float: right;
      height: 30px;
      width: 60px;
      top: 0;
      position: relative;
    }

  }
  &.choices-3, &.choices-4 {
    #between-buttons {
      background: #F1F3F2;
      padding: 6px;
    }
    #between-button-content {
      background: white;
      font-size: 0;
    }
    .image-choice {
      position: absolute;
    }
    .overlay {
      bottom: 0;
    }
    form {
    }
    button[type="submit"], .image-choice {
      &:focus {
        outline: 0;
      }
      background: none;
      position: relative;
      border: none;
      height: 99px;
      padding: 0;
      width: 155px;
      .text {
        padding-top: 5px;
        font-family: Roboto, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 500;
        position: absolute;
        text-align: center;
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        bottom: 0;
        height: 25px;
      }
    }
  }
}