.TextChoiceQuestion {
  .is-selected {
    float: left;
    margin-left: 5px;
    margin-top: -13px;
  }
  .main-image {
    display: inline-block;
    height: 100%;
    background-color: #fff;
    width: 100%;
  }
  #between-buttons {
    height: 75.95419847%;
  }
  #between-button-content {
    background-color: #fff;
    font-size: 0;
    border: none;
    height: 100%;
  }
  #below-buttons {
    background-color: rgb(241, 243, 242);
    width: 95.7575757575%;
    padding: 0 2.12121212%;
    height: 20%;
    border: none;
    position: relative;
    form {
      div {
        height: 100%;
      }
      margin: 2px 0;
      width: 100%;
      height: 50%;
    }
    .bar {
      width: 100%;
      .bar-graph {
        position: absolute;
      }
      .bar-selected {
        position: absolute;
      }
      .bar-title {
        width: 311px;
        padding: 4px;
        position: absolute;
        display: inline-block;
      }
      .bar-response {
        position: absolute;
        display: inline-block;
        right: 5px;
        top: 5px;
        color: white;
      }
    }
    button[type="submit"] {
      height: 100%;
      position: relative;
      width: 100%;
      &:focus {
        outline: 0;
      }
      padding: 0;
      .bar-title {
        padding-top: 5px;
      }
      .bar-overlay, .bar-title {
        top: 0;
        height: 100%;
      }
    }
    .bar {
      position: relative;
      margin-bottom: 2px;
      height: 50%;
    }
    button[type="submit"], .bar {
      cursor: pointer;
      background: none;
      border-style: none;
      font-family: Roboto, Helvetica, sans-serif;
      font-size: 16px;
      font-weight: 500;
      .bar-title {
        position: absolute;
        color: white;
        height: 100%;
        width: 100%;
        text-align: center;
      }

      .bar-overlay {
        background: white;
        opacity: 0.9;
        position: absolute;
        text-align: center;
        z-index: 55555;
        height: 100%;
        width: 100%;
        font-size: 20px;
        line-height: 31px;
      }
      .bar-selected {
        height: 100%;
      }
      .bar-graph {
        height: 100%;
        background-color: green;
      }
    }
  }
  &.choices-3 {
    #between-button-content {
      height: 163px;
    }
    .main-image {
      height: 163px;
    }
  }
  &.choices-4 {
    #between-button-content {
      height: 130px;
    }
    .main-image {
      height: 130px;
    }
  }
}
