.tooltipster-theme {
  border-radius: 5px;
  background: #fff;
  border: 1px solid grey;
  color: #2c2c2c;
  .tooltipster-content {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    line-height: 16px;
    padding: 8px 10px;
  }
}
