:sass
.row.question-builder#content_constraint
  .col-xs-12.col-sm-8.col-sm-push-2
    .openended.panel.panel-default
      .panel-heading
        .panel-title
          =link_to question_types_path do
            %span.glyphicon.glyphicon-chevron-left
      .panel-body.imagechooser
        = simple_form_for @question do |f|
          =f.input :type, as: :hidden
          .hidden
            .canned{data:{ids:canned_question_image_ids, urls:canned_question_image_web_urls}}
            .id=f.input :background_image_id, as: :hidden
          .row
            .col-xs-12
              .row
                .col-xs-12
                  .question
                    .title.over_image_title_container
                      =f.input :title, label: false, placeholder: "Ask Your Question Here", input_html:{class: "appearing-question-title"}
                    .bgimage
                      = responsive_image_tag @question.web_image_url, class: "img-responsive"

              .row.form-group
                .col-xs-12
                  .col-xs-12.btn-primary
                    =render partial:'/widgets/image_control',locals:{f:f,id:'background_selector',type: 'question'}
              .row.form-group
                =render partial:'/widgets/tc_dropdown', locals:{attrs:{:value=>@question.category,:key=>'name',:options=>Category.all,:placeholder=>"Select a Category",:classes=>"col-xs-12 form-group", :name=>"text_question[category_id]",:value_field=>"id",:value=>@question[:category_id]}}
          .row
            .col-xs-12.form-group
              .btn-group.btn-group-justified
                =f.button :submit, "Preview", class: %w(btn-block btn-lg)
            .col-xs-12.form-group
              .btn-group.btn-group-justified
                =f.button :submit, "Continue", class: %w(btn-block btn-lg)
