- can_vote = policy(@contest).save_vote?
.panel.panel-default
  .panel-body
    = @contest.gallery_heading_html.html_safe

.panel.panel-default
  .panel-heading
    - if can_vote
      %h2.panel-title Vote for your favorite cereals
    - else
      %h2.panel-title=link_to "Vote for your favorite cereals", contest_sign_up_path(@contest.uuid)
  .panel-body
    .row#studio_responses
      -9.times do
        - @studio_responses.each do |r|
          .col-sm-3{style:"height: 343px;"}
            .thumbnail
              - path = can_vote ? save_vote_path(@contest.uuid, r.id) : '#'
              =link_to path, method: :post, remote: true do
                =image_tag(r.scene.image.thumb.url)
                #score{data:{id:r.id}}=number_to_percentage @contest.percent_votes_for_response(r), precision: 0
              .caption
                %h4.text-center=r.scene.name
