
.row.user-visibility
  .btn-group.btn-group-justified{data:{toggle: :buttons}}
    %label.btn.btn-default.negative
      %input{type: :radio, name:"#{form.object_name}[anonymous]", id:"option1", value: false} Public
    %label.btn.btn-default.negative
      %input{type: :radio, name:"#{form.object_name}[anonymous]", id:"option2", value: true} Anonymous
