%input{type: :hidden, name:"anonymous", id:"option1", value: false}
-#.user-visibility
  .btn-group.btn-group-justified{data:{toggle: :buttons}}
    %label.btn.btn-default.negative
      %input{type: :radio, name:"anonymous", id:"option1", value: false} Public
    %label.btn.btn-default.negative.active
      %input{type: :radio, name:"anonymous", id:"option2", value: true, checked: true} Anonymous
