.row
  .col-md-12
    .well
      .icon
        = link_to "#", class:%w(icon), id:%w(icon1), remote:true do
          %span.glyphicon.glyphicon-asterisk
        = link_to "#", class:%w(icon), id:%w(icon2),remote:true do
          %span.glyphicon.glyphicon-euro
        = link_to "#", class:%w(icon),id:%w(icon3), remote:true do
          %span.glyphicon.glyphicon-music
        = link_to "#", class:%w(icon),id:%w(icon4), remote:true do
          %span.glyphicon.glyphicon-film

