.row
  .col-xs-12
    .btn-group.btn-group-justified
      - if response.question.preview?
        .btn-group
          = link_to "Edit", [:edit, response.question], class: %w{btn btn-default}
        .btn-group
          = link_to "Continue", [:target, response.question], class: %w{btn btn-default}, method: :post
      - else
        .btn-group
          - if @next_question
            = link_to "Skip", new_question_response_path(@next_question), class: %w{btn btn-default}
        .btn-group
          %button.btn.btn-default{type: :submit} Submit