:sass
  .row.submit-skip-edit-continue-button-set
    clear: both


.row.submit-skip-edit-continue-button-set
  - if response.question.preview?
    .col-xs-12.col-md-6.form-group.clearfix
      = link_to "Edit", [:edit, response.question], class: %w{btn btn-primary btn-lg col-xs-12}
    .form-group.col-xs-12.col-md-6.clearfix
      = link_to "Continue", [:target, response.question], class: %w{btn btn-primary col-xs-12 btn-lg}
  - else
    .col-xs-12.col-md-6.form-group.clearfix
      = link_to "Skip", new_question_skipped_item_path(response.question), class: %w{ btn btn-primary btn-lg col-xs-12}
    .col-xs-12.col-md-6.form-group.clearfix
      %button.btn.btn-primary.col-xs-12.btn-lg{type: :submit} Submit