#footer {
  background-color: $gray-light;
  height: $default-footer-inner-height;
  padding: $default-footer-padding-horizontal $default-footer-padding-vertical;
  clear: both;

  .share-icon, #embed-icon, .logo {
    height: $default-footer-inner-height;
    background-repeat: no-repeat;
  }

  .share-icon, #embed-icon {
    margin-right: $default-footer-padding-vertical;
    float: left;
  }

  .logo {
    margin-left: $default-footer-padding-horizontal;
    float: right;
  }

  .share-icon {
    $size: $default-footer-inner-height - $default-spacing;
    width: $size;
    height: $size;
    background-size: $size;
    overflow: hidden;
    display: block;

    &.facebook {
      background-image: image-url('ad_units/facebook.png');
    }

    &.twitter {
      background-image: image-url('ad_units/twitter.png');
    }
  }

  #embed-icon {
    width: 61px;
    background-image: image-url('ad_units/embed.png');
    background-size: 61px;
  }

  .logo {
    width: 53px;
    background-image: image-url('ad_units/statisfy.png');
    background-size: 50px;
    background-position: 2px;
  }
}
