#comments.panel.panel-warning
  .panel-heading
    %span.panel-title
      %i.panel-title-icon.fa.fa-fire.text-danger>
      Recent Comments
    .panel-heading-controls
      .panel-heading-text
        =paginate @recent_comments, remote: true

  .widget-comments.panel-body.tab-content-padding
    .panel-padding.no-padding-vr
      - @recent_comments.each do |c|
        .comment
          =gravatar_for c.user.email, class: %w(comment-avatar)
          .comment-body
            .comment-by
              =c.user.username
              commented on
              =link_to c.question.title, analytics_user_path(@user, c.question), title: ""
            .comment-text= c.body
            .comment-actions
              =link_to '#' do
                %i.fa.fa-pencil>
                Edit
              =link_to '#' do
                %i.fa.fa-times>
                Remove
              %span.pull-right
                =time_ago_in_words c.created_at
                ago
