#responses.panel.panel-success.widget-support-tickets
  .panel-heading
    %span.panel-title
      %i.panel-title-icon.fa.fa-bullhorn>
      Recent Responses
    .panel-heading-controls
      .panel-heading-text
        =paginate @recent_responses, outer_window:1, remote:true

  .widget-comments.panel-body.tab-content-padding
    .panel-padding.no-padding-vr
      - @recent_responses.each do |r|
        .comment
          .comment-avatar
            =gravatar_for r.user.email, class: %w(comment-avatar)
          .comment-body
            .comment-by
              =r.user.username
              responded to
              =link_to r.question.title, analytics_user_path(@user, r.question), title: ""
            .comment-text
              = link_to [r], class: %w(ticket-title), title: "" do
                =r.description
                %span [##{r.id}]
            .comment-actions
              &nbsp;
              %span.pull-right
                =time_ago_in_words r.created_at
                ago
