%i.fa.fa-cog
Cognitive
%table
  %tr
    %td
      Repeat Visit Rate
    %td
      = "#{report[:revisit_rate].round(2)} %"
  %tr
    %td
      Viral Factor / K-Factor
    %td
      = report[:viral_factor]