%i.fa.fa-cog
Emotional
%table
  %tr
    %td
      %i.fa.fa-flag-checkered
      Reach
    %td(align="center")
      = report[:reach]
  %tr
    %td
      %i.fa.fa-pencil-square-o
      Notes
    %td(align="center")
      = report[:notes]
  %tr
    %td
      %i.fa.fa-thumbs-o-up
      Likes
    %td(align="center")
      = report[:likes]
  %tr
    %td
      %i.fa.fa-share-square-o
      Share (Reblogs)
    %td(align="center")
      = report[:reblogs]