#listicle-form {
  width: 540px;
  margin: 0 auto;
  .title {
    left: -100px;
    bottom: -50px;
    position: relative;
    font-weight: bold;
    font-size: 14px;
  }
  .delete-item {
    left: -110px;
    background: none;
    border: none;
    bottom: -30px;
    position: relative;
    font-size: 11px;
    color: #9d9d9d;
  }
  .add-editor {
    margin: 10px auto;
    color: black;
    width: 100%;
    height: 40px;
    border: 2px dashed darkgray;
    background: lightgray;
    padding: 2px;
    font-weight: bold
  }
  input[type=text] {
    margin-bottom: 10px;
    width: 100%;
  }
  .redactor-box {
    min-width: 540px;
    max-width: 540px;
  }
  .redactor-editor {
    font-weight: initial;
  }
  .hidden {
    display: none;
  }
}

#listicle-show {
  max-width: 500px;
  padding-left: 100px;
  overflow-x: hidden;
  margin: 0 auto;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  .voting {
    width: 20px;
    position: relative;
    left: -100px;
    bottom: -50px;
    text-align: center;
    .score {
      color: #3EACE7;
      margin-left: 10px;
      font-weight: bold;
    }
    .vote {
      color: #B8E2F6;
      cursor: pointer;
    }
    .vote:hover {
      color: #3EACE7;
    }
    .vote:active {
      color: #43B3EA;
    }
  }
}

#listicles {
  margin: 0 auto;
  width: 80%;
  #new-listicle {
    color: black;
    i {
      margin-left: 27px;
    }
    display: block;
    width: 75px;
    margin: 60px auto 0;
  }
  a.listicle-title {
    max-height: 18px;
    overflow: hidden;
    max-width: 150px;
  }
  .listicle {
    padding: 5px;
    border: 1px solid black;
    margin: 20px;
    display: inline-block;
    width: 150px;
    height: 200px;
    overflow: hidden;
  }
  .preview {
    display: block;
    color: initial;
    height: 150px;
    width: 150px;
    max-height: 150px;
    overflow: hidden;
    position: absolute;
    margin-top: 5px;
  }
  iframe {
    margin-left: -105px;
  }
  .panel-body {
    height: 220px;
    overflow: hidden;
  }

  .listicle-buttons {
    font-size: 20px;
  }
}