.demo-chart-labels
  %p.pull-left.text-muted.text-left
    %em Segment
  %p.pull-right.text-muted.text-right
    %em Index

  %p.text-muted.text-center
    %em This Segment vs U.S. Average

- chart_id = "index_chart_#{info[:id]}"
%div{id: chart_id}=high_chart chart_id, demo_index_chart(info, color)
