- color ||= '#1794C0'
- names = info[:buckets].map{|b| b[:name]}
- indexes = info[:buckets].map{|b| b[:index]}

- chart = LazyHighCharts::HighChart.new('graph') do |f|
  - f.chart height: info[:buckets].count * 50, type: :bar
  - f.tooltip false
  - f.legend false
  - f.xAxis [{categories: names}, {categories: indexes, opposite: true, linkedTo: 0}]
  - f.yAxis min: 0, max: 200, plotLines: [{zIndex: 10, value: 100, dashStyle: "ShortDot", width: 2, color: 'gray', label: {text: "US Average", rotation: 0, verticalAlign: :bottom, align: :center}}], labels: {enabled: false}, title: {enabled: false}, gridLineWidth: 0
  - f.plotOptions series: { stacking: 'normal', color: color}
  - f.series data:indexes

- chart_id = "index_chart_#{info[:id]}"
%div{id: chart_id}=high_chart chart_id, chart
