.demo-chart-labels
  %p.text-muted.text-left
    %em Composition

- chart = LazyHighCharts::HighChart.new('graph') do |f|
  - f.chart spacingTop: 0, spacingBottom: 0, height: 160
  - f.tooltip false
  - f.series type: 'pie', data: info[:buckets].map{|b| {name: b[:name], y:b[:percent]*100, label: number_to_percentage(b[:percent]*100, precision: 0) } }
  - f.plotOptions pie: {size: 80, dataLabels: {enabled: false}, showInLegend: true, center: [20, 25]}
  - f.legend align: :right, verticalAlign: :top, layout: :vertical, labelFormat: '{label} {name}', borderWidth: 0, itemMarginBottom: 5

- chart_id = "pct_chart_#{info[:id]}"
%div{id: chart_id}=high_chart chart_id, chart
