- question ||= nil

.todo TODO: Show a question search box here

- if question
  %p
    These are the analytics for
    %em=question.title
    .todo TODO: Show analytics here
- else
  Select a question