.panel
  .panel-heading
    %h2.panel-title
      .row
        .col-sm-6 CAMPAIGN MANAGEMENT
        .col-sm-6.text-right-not-xs
          =link_to '#', class: %w(btn btn-sm btn-success btn-labeled) do
            %span.btn-label.glyphicon.glyphicon-download-alt
            Export to .csv
          =link_to question_types_path, class: %w(btn btn-sm btn-primary btn-labeled) do
            %span.btn-label.icon.fa.fa-plus
            Create Campaign
.table-primary
  %table.table.table-striped.table-bordered#campaigns{cellpadding:0, cellspacing:0, border:0}
    %thead
      %tr
        %th.bg-success{colspan:3} These are all of your campaigns
        %th.bg-default{colspan:4} Quick stats
      %tr
        %th Question
        %th Creation Date
        %th Start / Stop Campaign
        %th Reach
        %th Targeted Reach
        %th Completes
        %th
    %tbody
      - @questions.each do |q|
        %tr
          %td=q.title
          %td=q.created_at
          %td.text-center=check_box_tag "enabled", q.id, q.active?, class:%w(switcher switcher-success)
          %td.text-right=q.view_count
          -if q.targeted_reach.to_i > 0
            %td.text-right=q.targeted_reach
          -else
            %td.text-center
              &mdash;
          %td.text-right=q.response_count
          %td=link_to "Full analytics", '#'