%div{style: 'margin: 50px auto 0; width: 500px'}
  %iframe{width: 500, height: 700, frameborder: 0,
  src: "#{ENV['WEB_APP_URL']}/#/app/questions/new?auth_token=#{@auth_token}&instance_token=#{@instance_token}&registered_user=#{current_user.username}"}