@import 'ad_unit/variables';

/*
  Blue & Orange Choice/Results Bars

  * Display `TextChoiceQuestion` choices as a, wait for it.... blue bar.
  * Display response ratio for ImageChoice and TextChoice questions.
  * Orange "Submit" button.

  ## Example for bar with choice text only

  <div class="bar-{color}">
    <div class="bar-graph" style="width: 50%"></div>
    <div class="bar-selected"></div>
    <div class="bar-response">50%</div>
    <div class="bar-title">Choice Text</div>
  </div>

  ## Example for bar with response

  <div class="bar-{color}">
    <div class="bar-graph" style="width: 50%"></div>
    <div class="bar-response">50%</div>
    <div class="bar-title">Choice Text</div>
  </div>

  ## Displaying the orange `selected` indicator

  Just add the `selected` class to the main wrapper and make sure the that the
  `<div class="bar-selected">` comes after the `<div class="bar-graph">`.

  <div class="bar-{color} selected">
    <div class="bar-graph" style="width: 50%"></div>
    <div class="bar-selected"></div>
    <div class="bar-response">50%</div>
    <div class="bar-title">Choice Text</div>
  </div>
*/

.bar {
  display: block;
  width: 100%;
  margin-bottom: $default-spacing;
  position: relative;

  &, button { color: #ffffff; }

  button,
  .bar-title,
  .bar-graph,
  .bar-response,
  .bar-selected {
    position: absolute;
  }

  &,
  .bar-graph,
  .bar-selected,
  .bar-overlay {
    height: $default-bar-height;
  }

  button, .bar-title {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    display: block;
    padding: 7px 0px;
    width: 100%;
  }

  button {
    font-family: $font-family;
    padding: 6px 0px;

    .bar-title {
      padding: 0px;
      position: relative;
    }
  }

  .bar-response {
    width: 98%;
    text-align: right;
    font-weight: bold;
    float: right;
    padding-top: 7px;
  }

  .bar-selected {
    width: 6px;
    display: none;
  }

  .bar-overlay {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 0px;
    font-size: 20px;
    line-height: 30px;
  }

  &.selected {
    .bar-selected {
      display: block;
    }
  }
}

.bar-blue {
  @extend .bar;
  background: $blue;

  .bar-graph {
    background: $blue-progress;
  }

  .bar-selected {
    background: $blue-selected;
  }
}

form.bar-blue:hover {
  background: $blue-dark;
}

.bar-orange {
  @extend .bar;
  background: $orange;

  button:hover, button:disabled, &.disabled {
    background: $orange-light;
  }
}

form.bar-orange:hover {
  background: $orange-light;
}
