@import 'ad_unit/variables';

/*
  Image Choices

  Displays image choices and responses for multiple kinds of questions types.

  ## Example image choice selection markup

  <div class="bar-{color}">
    <div class="bar-graph" style="width: 50%"></div>
    <div class="bar-selected"></div>
    <div class="bar-response">50%</div>
    <div class="bar-title">Choice Text</div>
  </div>

  ## Example for bar with response

  <div class="bar-{color}">
    <div class="bar-graph" style="width: 50%"></div>
    <div class="bar-response">50%</div>
    <div class="bar-title">Choice Text</div>
  </div>

  ## Displaying the orange `selected` indicator

  Just add the `selected` class to the main wrapper and make sure the that the
  `<div class="bar-selected">` comes after the `<div class="bar-graph">`.

  <div class="bar-{color} selected">
    <div class="bar-graph" style="width: 50%"></div>
    <div class="bar-selected"></div>
    <div class="bar-response">50%</div>
    <div class="bar-title">Choice Text</div>
  </div>
*/

.image-choice {
  float: left;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &.index-0, &.index-2 {
    margin-right: $default-spacing;
  }

  &.index-2, &.index-3 {
    margin-top: $default-spacing;
  }

  button, .spacer, .text {
    font-family: $font-family;
    width: 100%;
    padding: 0px;
  }

  button, .text {
    height: 100%;
  }

  .text {
    color: #fff;
    font-weight: 400;
    text-align: center;
    background: #000;
    background: rgba(0, 0, 0, .40);
    padding-top: $default-image-choice-text-padding-top;
    font-size: 16px;
    height: $default-image-choice-text-height;
    margin-top: $default-spacing;
  }

  .bar-blue {
    float: right;
    width: 35%;
    margin-left: 65%;
  }

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 32px;

    .overlay-text {
      font-size: 24px;
    }

    i.overlay-text {
      font-size: 32px;
    }
  }
}
