.back
-question.choices.each do |c|
  .choice
    %label
      =responsive_image_tag((c.web_image_url || image_path("fallback/choice#{n}.png")), class: "img-responsive", style:"width: 125px; height: 125px;")
      .subtitle
        .table
          .cell=c.title
.next=link_to ">", next_question_path(question), target: "_self"
.submitable Submit
.footer
  .share
  .logo
