.modal.question
  .modal-header
    background-color: rgba(255,255,255,0.6)
    color: white
  .modal-content
    background-color: rgba(0,0,0,0.7)
  .modal-body
    color: #ccc
    button.close
      font-size: 200%
      color: white
      opacity: 0.5
    h2
      margin-bottom: 20px
  .actions
    .btn
      padding: 30px
      font-size: 20pt
      text-align: left
      span
        margin-right: 10px
    .asked-by
      font-size: 14pt
      text-align: left
      margin-bottom: 20px
  form .submit
    margin-top: 20px
    background-color: rgba(255,255,255,0.2)
    width: 100%
    text-align: right
    padding: 0
    .buttons
      padding-right: 52px
      button, a
        color: #ccc
        font-size: 14pt
        padding-top: 10px
        padding-bottom: 10px
        &:hover
          text-decoration: none
          color: white
        &.skip
          border-right: 1px solid rgba(0,0,0,0.2)
          padding-right: 9px
          margin-right: 4px


.response
  .image-choices
    label
      position: relative
      & > input[type=radio],
      & > input[type=checkbox]
        display: none

        &+.indicators
          img
            background-color: white
            cursor: pointer
            width: 100%
            border-radius: 5px

          .checkmark img
            display: none
            border: 3px solid white

        &:checked+.indicators
          .checkmark img
            display: block
      .title
        position: absolute
        bottom: 0
        text-align: center
        background-color: rgba(0,0,0,0.4)
        color: white
        padding: 15px 5px
        width: 100%
        font-size: 150%

      .checkmark
        position: absolute
        top: 10px
        right: 10px
        font-size: 60px
        width: 60px
        height: 60px

  .col-md-12.comment
    padding-bottom: 20px
    .form-group
      margin-bottom: 0
    textarea
      background-color: $cm-blue
      color: white
      border: none
