<div class="center hero-unit">
	<h1>Welcome to the 2cents App</h1>

	<h2>
	  This is the home page for the 2cents application.
	</h2>

	<%= link_to "Sign up now!", signup_path,
	                            class: "btn btn-large btn-primary" %>
	</div>

<center><%= link_to image_tag("2centsIcon100.png", alt: "2cents"), '#' %></center>