#share-modal.modal.fade{tabindex:-1,role: :dialog, "aria-labelledby" => :myModalLabel, "aria-hidden" => true}
  .modal-dialog
    .modal-content
      .modal-header.clearfix
        %h2.pull-left.modal-title Share with Friends
        %i.icon-remove.close{data:{dismiss: :modal}, "aria-hidden" => true}
      .modal-body
