%h1 Segment Definition
= simple_form_for [@user, @segment] do |f|
  = f.input :name, label: "Segment Name", placeholder: "Describe this segment"
  .table-primary#matcher_list=render 'matcher_table', segment:@segment
  = f.submit "Create Segment", class: %w(btn btn-primary)

.panel.panel-default
  .panel-heading
    %h2.panel-title Segmented Groups
  .panel-body
    .col-6-sm
      .input-group
        %span.input-group-addon
          %span.glyphicon.glyphicon-search
        = search_field_tag :search, "", id: :question_search, data:{callback: question_search_user_url(current_user)}, placeholder: "Search for a question", class: %w(form-control)
    .row
      .col-12-sm#search_results
