- if segment.response_matchers.blank?
  %h2 Begin by searching for a relevant question.
- else
  %table.table.table-striped.table-bordered#campaigns{cellpadding:0, cellspacing:0, border:0}
    %thead
      %tr
        %th Questions
        %th Attributes (all must be true)
        %th
    %tbody
      - segment.response_matchers.each do |matcher|
        %tr
          %td=matcher.question.title
          %td
            - if matcher.all_responders?
              All people who responded to this question.
            - elsif matcher.all_skippers?
              All people who skipped this question.
            - else
              - case matcher.question.type
              - when "TextChoiceQuestion", "YesNoQuestion"
                People who selected
                %strong= matcher.choice.title
              - when "ImageChoiceQuestion", "MultipleChoiceQuestion"
                People who selected
                =responsive_image_tag matcher.choice.background_image.web_image_url
              - when "TextQuestion"
                People who entered something like
                %strong=matcher.regex
              - when "OrderQuestion"
                People whose first choice was
                =responsive_image_tag matcher.first_place_choice.background_image.web_image_url
              - when "StudioQuestion"
                %em (Coming Soon...)
          %th.text-center=link_to 'x', [matcher], method: :delete, data: { confirm: "Are you sure?" }, remote: true
