<html>
  <head></head>
  <body>
    <script type="text/javascript">
      setTimeout(function() { window.close(); }, 500);
    </script>
    <p>This window should close automatically...</p>
  </body>
</html>
