<div id="contact" class="section contact">
  <div class="section-heading">
    <h2>REACH OUT AND LEARN SOMETHING.</h2>
    <p>Finally, a way to find out what other people actually think about stuff!</p>
    <hr />
  </div>
</div>
