#hero-unit.hero-unit
  .hero-content.text-right
    .container
      .row
        .col-lg-12
          #slidecaption.slide-caption
            .hero-text
              %h3.hero-heading
                ASK. ANSWER.
                %span.name CONNECT.
              .looper.slide.down{"data-interval" => "3000", "data-looper" => "go"}
                .looper-inner
                  .item.animated
                    %p Discover what your world thinks!
          .hero-buttons
            =link_to "http://labs.app.statisfy.co", class:%w(btn-about btn btn-info btn-lg) do
              %i.fa.fa-check
              GET STARTED
            =link_to get_the_app_path, class:%w(btn-contact btn btn-primary btn-lg) do
              %i.fa.fa-apple
              GET THE APP
