<div id="hero-unit" class="hero-unit">
  <div class="hero-content text-right">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-lg-offset-5">
          <div id="slidecaption" class="slide-caption">
            <div class="hero-text">
              <h3 class="hero-heading">ASK. ANSWER. <span class="name">CONNECT.</span></h2>
              <div data-looper="go" data-interval="3000" class="looper slide down">
                <div class="looper-inner">
                  <div class="item animated"><p>Discover what your world thinks!</p></div>
                  <!--
                  <div class="item animated"><p>u</p></div>
                  <div class="item animated"><p>CONNECT.</p></div>
                  <div class="item animated"><p>STATISFY.</p></div>
                  -->
                </div>
              </div>
            </div>
          </div>
          <div class="hero-buttons">
            <a href="#works" id="btn-about" class="btn btn-info btn-lg"><i class="fa fa-arrow-circle-o-down"></i> GET STARTED</a>
            <a href="#contact" id="btn-contact" class="btn btn-primary btn-lg"><i class="fa fa-apple"></i> GET THE APP</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
