#hero-unit.hero-unit
  .hero-content.text-right
    .container
      .row
        .col-lg-12
          #slidecaption.slide-caption
            .hero-text
              %h3.hero-heading
                ASK. ANSWER.
                %span.name CONNECT.
              .looper.slide.down{"data-interval" => "3000", "data-looper" => "go"}
                .looper-inner
                  .item.animated
                    %p Discover what your world thinks!
          .hero-buttons
            - if ENV['SHOW_HOME_PAGE_FEED'].true? && params[:new_web_app].blank?
              =link_to new_user_registration_path, class:%w(btn-about btn btn-info btn-lg) do
                %i.fa.fa-arrow-circle-o-down
                GET STARTED
            - else
              =link_to "http://app.statisfy.co", class:%w(btn-about btn btn-info btn-lg) do
                %i.fa.fa-check
                GET STARTED
            =link_to get_the_app_path, class:%w(btn-contact btn btn-primary btn-lg) do
              %i.fa.fa-apple
              GET THE APP
