%script#sticker-pack-detail{type:"text/x-handlebars-template"}
  {{#sticker_pack}}
  %section#pack-browser
    %article.sticker-pack{id: "pack-{{id}}"}
      %header.row{style:"background-image: url({{header_icon_url}});"}
        .col-sm-8
          %h3.name {{display_name}}
        .col-sm-4
      {{#if backgrounds}}
      %section.row.backgrounds
        = render 'pages/sticker_list', header: 'Backgrounds', object: 'backgrounds'
      {{/if}}
      {{#if stickers}}
      %section.row.stickers
        = render partial: 'pages/sticker_list', locals: {header: 'Stickers', object: 'stickers'}
      {{/if}}
  {{/sticker_pack}}