.col-sm-12
  %h4.section-title= header
{{#each #{object}}}
{{#if ../is_locked}}
.col-lg-4.col-md-4.col-sm-12.col-xs-12.sticker-container.locked
  %img{src: image_url('image_loading.gif'),id: "sticker_{{id}}", class: "img-responsive", data:{height: "{{image_height}}", id: "{{id}}", src: "{{image_url}}", type: "{{type}}", width: "{{image_width}}"}, alt: ""}
  {{display_name}}
{{else}}
.col-lg-4.col-md-4.col-sm-12.col-xs-12.sticker-container.stickable
  %img{src: image_url('image_loading.gif'),id: "sticker_{{id}}", class: "img-responsive", data:{height: "{{image_height}}", id: "{{id}}", src: "{{image_url}}", type: "{{type}}", width: "{{image_width}}"}, alt: ""}
  {{display_name}}
{{/if}}

{{/each}}
