#undertop.container
  #portfolio
    .container
      .row
        .col-md-12
          #filters_container
            %ul#filters
              %li
                %a.active{"data-filter" => "*", :href => "#"} All
              - @categories.each do |category|
                %li.separator /
                %li
                  %a{"data-filter" => ".#{category.name.parameterize.underscore.to_sym}", :href => "#"}= category.name
      .row
        .col-md-12
          #modal-blurred-bg.modal.fade.modal-blur{role: :dialog, style: "display: none;", tabindex: "-1"}
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  %button.close{"data-dismiss" => "modal", type: "button"} ×
                  %h4.modal-title#myName
                  %h6.modal-title#myCategory
                .modal-body#myUrl

          #gallery_container
            - @feed_questions.each do |question|
              .photo{class: question.category.name.parameterize.underscore.to_sym}
                = image_tag question.image_url || question.category.image_url, class: "img-responsive"
                = link_to '#modal-blurred-bg', remote: true, "data-toggle" => "modal", role: :dialog, "data-id" => question.id, id: :open, class: :mask do
                  %h3=question.title
                  %small=question.category.name
                  .more +
