#main-wrapper
  #content-wrapper
    .row
      .col-sm-6
        #modal-blurred-bg.modal.fade.modal-blur{:role => "dialog", :style => "display: none;", :tabindex => "-1"}
          .modal-dialog.modal-sm
            .modal-content
              .modal-header
                %button.close{"data-dismiss" => "modal", :type => "button"} ×
                %h4.modal-title Modal with blurred background
              .modal-body ...

        .panel
          .panel-heading
            %span.panel-title Modal with blurred background
          .panel-body
            .note.note-danger Use this feature with caution because it can be slow and buggy on large pages.
            %button.btn.btn-success{"data-target" => "#modal-blurred-bg", "data-toggle" => "modal"} Modal with blurred background
.row
  .col-sm-12
    .drawer-handle
      =image_tag image_url("glyphicons-224-chevron-right-white.png"), id: 'right-arrow'
      =image_tag image_url("glyphicons-224-chevron-left-white.png"), id: 'left-arrow', class: 'hidden'