- if current_user.has_role?(:pro)
  :sass
    .multiplechoice

      // Override the max answers constraint for pro users
      .answer+.answer+.answer+.answer+div .answer
        display: block

:sass
  .close.remove_fields
    margin-right: 10px

:coffee
  $(document).on "page:change", ->
    update_display = ->
      $("#responses_display").text("Require at least " + $("#min_responses input").val() + " and not more than " + $("#max_responses input").val() + " responses.")

    $("#required_responses_slider").slider
      range: true
      min: 2
      max: 10
      values: [$("#min_responses input").val(),$("#max_responses input").val()]
      slide: (event, ui) ->
        $("#min_responses input").val(ui.values[0])
        $("#max_responses input").val(ui.values[1])
        update_display()

    update_display()


.row.question-builder#content_constraint
  .col-xs-12.col-sm-8.col-sm-push-2
    = simple_form_for @question,:html=>{class:"multiplechoice panel panel-default"} do |f|
      .panel-heading.col-xs-12
        .panel-title.row
          .col-xs-3
            =link_to question_types_path do
              %span.glyphicon.glyphicon-chevron-left
          .col-xs-6.col-xs-push-3
            =f.button :submit, "Preview", class: %w(btn-primary negative transparent no-border btn-lg)
      .panel-body
        - if current_user.has_role?(:pro)
          .well
            %h4.text-center Choice Settings
            .row
              .col-sm-6
                #min_responses=f.input :min_responses, as: :hidden
                #max_responses=f.input :max_responses, as: :hidden
                %label#responses_display
                #required_responses_slider
              .col-sm-6
                =f.input :rotate, label: "Rotate all choices", wrapper: :vertical_boolean
        .col-xs-12
          %div
            =f.input :type, as: :hidden
            =f.input :rotate, as: :hidden
            .row.question.form-group
              .col-sm-12
                .title.row
                  .multiple_choice_question_title.text.required.btn-primary.question-header-style-title
                    =f.input_field :title, label: false , class: "revealable title", placeholder: "Ask Your Question Here"
                    =render partial:'/widgets/char_counter',locals:{:selector => ".multiple_choice_question_title .revealable.title"}

                .row
                  =f.simple_fields_for :choices do |choice|
                    = render 'choice_fields', f:choice
                  .links
                    =link_to_add_association  f, :choices, class: 'nested-fields answer' do
                      .col-xs-6
                        .row
                          .choice.imagechooser
                            .bgimage
                              = responsive_image_tag @question.choices[0].web_image_url, class: "img-responsive transparent"
                              .overimage.add-option.add-option-control
                                %h3
                                  Add Option
                                %i.glyphicon.glyphicon-plus-sign


            .row.form-group
              =render partial:'/widgets/tc_dropdown', locals:{attrs:{:value=>@question.category,:key=>'name',:options=>Category.all,:placeholder=>"Select a Category", :name=>"multiple_choice_question[category_id]",:value_field=>"id",:value=>@question[:category_id]}}
