:sass
  .close.remove_fields
    margin-right: 10px


.row.question-builder#content_constraint
  .col-xs-12.col-sm-8.col-sm-push-2
    .multiplechoice.panel.panel-default
      .panel-heading
        .panel-title
          =link_to question_types_path do
            %span.glyphicon.glyphicon-chevron-left
      .panel-body
        = simple_form_for @question do |f|
          =f.input :type, as: :hidden
          =f.input :rotate, as: :hidden
          .row.question.form-group
            .col-sm-12
              .title.row
                .multiple_choice_question_title.text.required.btn-primary.question-header-style-title
                  =f.input_field :title, label: false , class: "revealable title", placeholder: "Ask Your Question Here"

              .row
                =f.simple_fields_for :choices do |choice|
                  = render 'choice_fields', f:choice
                .col-xs-12
                  .row
                    =link_to_add_association  f, :choices, class: 'nested-fields answer' do
                      .choice.imagechooser
                        .bgimage
                          = responsive_image_tag f.object.web_image_url, class: "img-responsive transparent"
                          .overimage.add-option
                            %h3
                              Add Option
                            %i.glyphicon.glyphicon-plus-sign


          .row.form-group
            =render partial:'/widgets/tc_dropdown', locals:{attrs:{:value=>@question.category,:key=>'name',:options=>Category.all,:placeholder=>"Select a Category", :name=>"multiple_choice_question[category_id]",:value_field=>"id",:value=>@question[:category_id]}}
          .row
            .row
              .col-sm-12.form-group
                .btn-group.btn-group-justified
                  =f.button :submit, "Preview", class: %w(btn-block btn-lg)
              .col-sm-12.form-group
                .btn-group.btn-group-justified
                  =f.button :submit, "Continue", class: %w(btn-block btn-lg)
