:sass
  .image_choice_question_choices_title
    position: relative
    max-height: 45%
    &:hover
      textarea.form-control
        background-color: rgba(255,255,255,0.2)
        border-color: #ccccff

    textarea.form-control
      display: block
      font-size: 1em
      width: 100%
      background-color: transparent
      border: solid 1px transparent
      color: white
      overflow: auto
      text-align: center
      resize: none
      outline: none
      box-shadow: none
      margin: 0
      padding: 0
      border-radius: 0
      min-height: 1.5em
      max-height: 1.5em




  #category_dropdown_toggler
    &.row
      &:before
        margin-bottom: -12px
      &:after
        margin-bottom: -12px
    position: relative
  #category_caret
    border-top: 21px solid
    border-right: 20px solid transparent
    border-left: 20px solid transparent
    &:after
      display: inline-block
      width: 0
      height: 0
      margin-left: 2px
      vertical-align: middle
      border-top: 16px solid white
      border-right: 15px solid transparent
      border-left: 15px solid transparent
      position: absolute
      left: 20px
      top: 0px
      content: " "

  .category-dropdown-wrapper
    border: solid 1px #264e8e
    position: relative
    ul#categry_dropdown_menu
      left: auto
      overflow: auto
      left: -1px
      right: -1px
      width: auto
      border: solid 1px #264e8e
      border-radius: 0 0 3px 3px
      padding: 10px
      border-top: none
      margin-top: -3px
      max-height: 110px
  #background_selector
    font-size: 2.2em
    border: solid 1px #264e8e
    padding: 8px
    padding-top: 9px
  #image_upload
    text-align: center
  .close-float
    clear: both
    float: none

  .image_control
    font-size: 3.7em
    text-align: center


  .multiple_choice_question_title
    padding: 10px
    #multiple_choice_question_title
      width: 100%
      text-align: center
      box-shadow: none
      resize: none

  .revealable
    background-color: transparent
    border-color: transparent
    resize: none
    box-shadow: none
    &:hover, &:focus
      outline: none
      border-color: white
      background-color: rgba(255,255,255,0.2)

  .overimage.add-option
    background-color: orange
    color: white
    text-align: center
    height: 100%
    font-size: 3em
    h3
      margin-top: 35%
      margin-bottom: 5%
      font-size: 1.1em

  .close.remove_fields
    margin-right: 10px

  .image-option-title-text
    display: block
    font-size: 1em
    width: 100%
    background-color: transparent
    border: solid 1px transparent
    color: white
    overflow: auto
    text-align: center
    resize: none
    outline: none
    box-shadow: none
    margin: 0
    padding: 0
    border-radius: 0
    min-height: 1.5em
    max-height: 1.5em

.col-md-8.col-md-push-2
  .multiplechoice.panel.panel-default
    .panel-heading
      .panel-title
        =link_to question_types_path do
          %span.glyphicon.glyphicon-chevron-left
    .panel-body
      = simple_form_for @question do |f|
        =f.input :type, as: :hidden
        =f.input :rotate, as: :hidden
        .row.question.form-group
          .col-sm-12
            .title
              .multiple_choice_question_title.form-group.text.required.btn-primary
                =f.input_field :title, label: false , class: :revealable, placeholder: "Ask Your Question Here"

            .row
              =f.simple_fields_for :choices do |choice|
                = render 'choice_fields', f:choice
              .col-xs-6
                =link_to_add_association  f, :choices, class: 'nested-fields answer' do
                  .choice.imagechooser
                    .bgimage
                      = responsive_image_tag f.object.web_image_url, class: "img-responsive transparent"
                      .overimage.add-option
                        %h3
                          Add Option
                        %i.glyphicon.glyphicon-plus-sign


        .row.form-group
          #category_dropdown.dropdown.col-sm-12
            %div.category-dropdown-wrapper
              %a{:class=>"row",:id=>'category_dropdown_toggler',:role=>'button',:data=>{:toggle=>'dropdown',:target=>'#'}}
                .col-sm-10.col-xs-9=(@question.category||'Select a Category')
                .col-sm-1.col-xs-1
                  %span{:class=>["caret"], :id=>"category_caret"}

              %ul#categry_dropdown_menu{:class=>["dropdown-menu"],:role=>"menu", :aria=>{:labelledby=>"category_dropdown_toggler"}}
                -Category.all.each do |c|
                  %li
                    =c.name
        .row
          .col-md-6
            .btn-group.btn-group-justified
              =f.button :submit, "Preview", class: %w(btn-block btn-lg)
          .col-md-6
            .btn-group.btn-group-justified
              =f.button :submit, "Continue", class: %w(btn-block btn-lg)
