- @listicals.each do |listical|
  = link_to listical.title, edit_listical_path(listical)
  = link_to 'x', listical_path(listical), method: :delete, data: {confirm: 'Do you want to remove this listical?'}
  %br