- @listicals.each do |listical|
  = link_to listical.title, listical_path(listical)
  = link_to edit_listical_path(listical) do
    %i.fa.fa-pencil
  = link_to listical_path(listical), method: :delete, data: {confirm: 'Do you want to remove this listical?'} do
    %i.fa.fa-times{style: 'color: red'}
  Listical embed link:
  = link_to show_listical_url(listical), show_listical_url(listical), target: '_blank'
  %br