= render partial: 'surveys/responsive_rectangle/vote'
- content_for :between_buttons do
  .main-image{data: {image: meta_data_for(question.background_image)}}
- content_for :below_buttons do
  - question.ordered_choices_for(cookie_user).each do |c|
    - if answer.present?
      - ratio = (c.response_ratio * 100).to_i
      %div.bar.color1-bg{data: {response: ratio}}
        .bar-graph.color2-bg
        .bar-selected
        .bar-response
        .bar-title= c.title
    - else
      - url = qp_create_response_url(@survey.uuid, @ad_unit.name, @question)
      = button_to url, form: {target: '_self', class: 'bar-blue color1-bg'},
        params: {'response[choice_id]' => c.id, 'response[original_referrer]' => original_referrer} do
        .is-selected
          %i.fa.fa-check.color1
        .bar-title= c.title
        .bar-overlay.overlay
