# Add application configuration variables here, as shown below.
#

DEVELOPER_NAME:

api_shared_secret:

AWS_ACCESS_KEY: ~
AWS_SECRET_ACCESS_KEY: ~
AWS_REGION: us-east-1
AWS_BUCKET: crashmob-production

DEVICE_AWS_ACCESS_KEY: ~
DEVICE_AWS_SECRET_ACCESS_KEY: ~
DEVICE_AWS_REGION: us-east-1
DEVICE_AWS_BUCKET: crashmob-production

GEOIP_PATH: geoip

IOS_DOWNLOAD_TRACKING_URL: https://handler.fiksu.com/click?adid=e9739340-8863-0132-879a-22000b358176

FACEBOOK_APP_ID: ~
FACEBOOK_APP_SECRET: ~

TWITTER_API_KEY: ~
TWITTER_API_SECRET: ~

RAILS_ASSET_HOST: ~

test:
  api_shared_secret: example_shared_secret
  AWS_ACCESS_KEY: fake
  AWS_SECRET_ACCESS_KEY: fake
  DEVICE_AWS_ACCESS_KEY: fake
  DEVICE_AWS_SECRET_ACCESS_KEY: fake

development:
  AWS_BUCKET: crashmob-development
  DEVICE_AWS_BUCKET: crashmob-development

staging:
  AWS_BUCKET: crashmob-labs
  DEVICE_AWS_BUCKET: crashmob-labs
