// We can use maps if we update to Sass >= 3.3.
//
// $demographics-colors: (
//   gender: #1794c0
//   age: #183a7b
//   children: #8a2357
//   income: #d1b32d
//   ethnicity: #a84f12
//   education: #577638
//   politicalaffiliation: #5d268f
//   politicalengagement: #125faa
// );

.demographics-body {

  @mixin demo-colors($color) {
    .demo-icon,
    .largest-bucket {
      color: $color;
    }
  }

  // Layouts
  .demo-header, .demo-data-privacy {
    padding-left: -10px;
    padding-right: -10px;

    .col-md-6 {
      &:first-of-type { padding-left: 0px; }
      &:last-of-type { padding-right: 0px; }
    }

    .col-sm-12 {
      padding-left: 0px;
      padding-right: 0px;
    }
  }

  // Demographics Header
  .demo-header {
    padding-top: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #eeeeee;

    .demo-name {
      font-size: 14px;
      padding-top: 16px;
    }

    .demo-icon {
      padding-top: 8px;
      padding-right: 10px;
    }

    .demo-index {
      padding-top: 5px;
    }
  }

  // Demo Data Privacy
  .demo-data-privacy {
    margin-top: 5px;
    padding-left: -10px;
    padding-right: -10px;

    .privacy-message {
      background: #eee;
      color: #777;
      padding: 20px 30px;
      border-radius: 5px;
      margin-bottom: 50px;

      i {
        color: #999;
        float: left;
        font-size: 62px;
        margin-right: 10px;
        line-height: 62px;
      }

      p {
        margin: 0px 100px 0px 65px;
        font-size: 12px;
      }
    }
  }

  // Demographics Charts
  .demo-data {
    .demo-chart-labels {
      padding: 5px 0px;
      p {
        font-size: 10px;
        margin: 0px;
      }
    }
  }

  &.gender { @include demo-colors(#1794c0); }
  &.age { @include demo-colors(#183a7b); }
  &.children { @include demo-colors(#8a2357); }
  &.income { @include demo-colors(#d1b32d); }
  &.ethnicity { @include demo-colors(#a84f12); }
  &.education { @include demo-colors(#577638); }
  &.politicalaffiliation { @include demo-colors(#5d268f); }
  &.politicalengagement { @include demo-colors(#125faa); }
}
