// -----------------------------------------------------------------------------
// Base

$font-family: 'Open Sans', Helvetica, Arial, sans-serif;

// -----------------------------------------------------------------------------
// Layouts

$footer-height: 19px;

$image-choice-text-height: 35px;


// -----------------------------------------------------------------------------
// Colors

$gray-light: #eeeeee;
$gray-dark: #dddddd;
$gray-lighter: #fbfbfb;

// Blue
$blue: #2691d9;
$blue-dark: darken($blue, 10%);
$blue-progress: #32b8e7;
$blue-selected: #ffa325;

// Orange
$orange: orange;
$orange-light: lighten($orange, 20%);
$orange-dark: darken($orange, 10%);
