// -----------------------------------------------------------------------------
// Base

$font-family: 'Open Sans', Helvetica, Arial, sans-serif;

// -----------------------------------------------------------------------------
// Layouts

$footer-height: 19px;

$image-choice-text-height: 35px;


// -----------------------------------------------------------------------------
// Colors

$gray-light: #f1f2f2;
$gray-dark: #dddddd;
$gray-lighter: #fbfbfb;

// Blue
$blue: #2691d9;
$blue-dark: darken($blue, 10%);
$blue-progress: #32b8e7;
$blue-selected: #ffa325;

// Orange
$orange: orange;
$orange-light: lighten($orange, 20%);
$orange-dark: darken($orange, 10%);

// -----------------------------------------------------------------------------
// Choice Size Defaults

$default-textarea-padding: 2px;
$default-textarea-border: 5px;
$default-textarea-border-radius: 6px;

$default-bar-height: 32px;

$default-image-choice-text-height: 28px;
$default-image-choice-text-padding-top: 5px;

// -----------------------------------------------------------------------------
// Size Defaults

$default-spacing: 1px;

$default-footer-padding-horizontal: 0px;
$default-footer-padding-vertical: 0px;
$default-footer-inner-height: 19px;
$default-footer-outer-height: $default-footer-inner-height + ($default-footer-padding-horizontal * 2);
