@import './variables';

/*
  Base Layout for an AdUnit:

  <body class="{ad-unit-name}">
    <div id="#content">
      <div id="title"></div>
      <div id="question" class="{QuestionClassName} choices-{n}"></div>
      <div id="footer"></div>
    </div>
  </body>

  ---

  ## Content Descriptions

  - #content

  The main wrapper for an ad unit. The width and height will be set
  dynamically inside a `<style>` tag after all ad_unit css has been imported,
  meaning they will always override anything in the ad_unit.css stylesheet.

  - #title

  This is the title of the current question being presented to the user. From
  the mockups, it looks like this will always be on top.

  - #question

  The content of the question. Will contain the forward and back buttons, the
  question choices and question response results.

  - #footer

  Self explanatory.

  ---

  ## Question DIV sub-classes

  - .{questionType}

  The kind of question being represented. For example,
  `#question.ImageChoiceQuestion` or `#question.MultipleChoiceQuestion`.

  - .choices-{n}

  The number of choices being presented. Some layouts are different based on the
  number of choices being presented. This won't really affect open ended
  question types (i.e. a `TextQuestion`).

  - .has-response

  Whether we are displaying a response or not.
*/

body {
  background: #fbfbfb;
  padding: 0px;
  margin: 0px;
  font-family: $font-family;
}

#content {
  background: #ffffff;
  overflow: hidden;
  margin: 0px auto;
}

#title, #question, #footer {
  width: 100%;
}

#title {
  background: $gray-light;
  border-bottom: 1px solid $gray-dark;
  margin-bottom: 1px;
  color: #000;
  text-align: center;
  overflow: hidden;

  h1 {
    margin: 0px;
    font-weight: 600;
  }
}

#footer {
  background-color: $gray-light;
  height: 15px;
  padding: 2px 3px;
  clear: both;

  .share-icon, .embed-icon, .logo {
    height: 15px;
    background-repeat: no-repeat;
  }

  .share-icon, .embed-icon {
    margin-right: 2px;
    float: left;
  }

  .logo {
    margin-left: 2px;
    float: right;
  }

  .share-icon {
    width: 15px;
    overflow: hidden;
    display: block;

    &.facebook {
      height: 15px;
      background-image: image-url('ad_units/facebook.svg');
      background-size: 15px;
    }

    &.twitter {
      height: 18px;
      background-image: image-url('ad_units/twitter.svg');
      background-size: 15px;
      background-position: center -6px;
    }
  }

  .embed-icon {
    width: 60px;
    background-image: image-url('ad_units/embed.svg');
    background-size: 60px;
  }

  .logo {
    width: 50px;
    background-image: image-url('ad_units/statisfy.svg');
    background-size: 50px;
    background-position: 2px;
  }
}
