//= require font-awesome
//= require ./base
//= require_self

//= require ./medium_rectangle/base
//= require ./medium_rectangle/choices/bars
//= require ./medium_rectangle/choices/image_choices
//= require ./medium_rectangle/choices/order_choices
//= require ./medium_rectangle/choices/text_areas

//= require ./medium_rectangle/sizes/medium_rectangle


@import "./medium_rectangle/variables";

button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  &:disabled { cursor: not-allowed; }
 }

button::-moz-focus-inner {
    padding: 0;
    border: 0
}

// -----------------------------------------------------------------------------
// Layout

#below-buttons {
  clear: both;
}

#between-buttons {
  margin-bottom: 1px;
}

#between-button-content {
  height: 100%;
  overflow: hidden;
}

// -----------------------------------------------------------------------------
// Background Image (Temporary)

.main-image {
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.up-menu .action-icon {
  height: 21px !important;
  width: 21px !important;
  margin-right: 4px !important;
  background-size: 21px 21px !important;
}
