//= require font-awesome
//= require tooltipster/tooltipster
//= require ./base
//= require ./responsive_rectangle/image_choice
//= require ./responsive_rectangle/text_choice
//= require ./responsive_rectangle/order
//= require ./responsive_rectangle/text_question
//= require ./responsive_rectangle/embed
//= require ./responsive_rectangle/tooltipster
//= require ./thank_you

.nav-button {
  display: none;
}
.responsive_rectangle {
  margin: 0;
  width: 330px;
  height: 405px;
}

#embed {
  display: none;
}

#tumblr-overlay {
  display: none;
}

#content {
  background-color: rgb(238, 238, 238);
  border-radius: 5px;
}

#title {
  h1 {
    padding-top: 18px;
    text-align: center;
    margin: 0;
  }
  height: 60px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#vote-block {
  background: none;
  min-height: 45px;
}

@keyframes tooltip-bouncing {
  from {
    margin-top: 0;
  }
  to {
    margin-top: 10px;
  }
}

#vote-tooltip {
  display: inline;
  background: rgb(56, 167, 220);
  position: absolute;
  text-align: center;
  border-radius: 5px;
  margin-left: 29px;
  padding: 5px 5px 0 5px;
  height: 25px;
  color: white;
  animation: tooltip-bouncing linear 0.7s infinite alternate;
}

#vote-tooltip:after {
  margin-top: 6px;
  margin-left: 40%;
  content: ' ';
  display: block;
  position: absolute;
  border-style: solid;
  border-width: 6px 5px 0 5px;
  border-color: rgb(56, 167, 220) transparent transparent transparent;
}

.up-menu .action-icon {
  background-size: 19px 19px !important;
}

@mixin icon-bg($icon) {
  background-image: image-url("ad_units/#{$icon}.png");
}
.action-icon {
  display: inline-block;
  border-radius: 50%;
  float: left;
  margin-right: 2px;
  background-position: 1px 1px;
  height: 20px;
  width: 20px;
  cursor: pointer;
  &.facebook {
    @include icon-bg('facebook');
  }
  &.twitter {
    @include icon-bg('twitter');
  }
  &.tumblr {
    @include icon-bg('tumblr');
  }
  &.embed {
    @include icon-bg('embed');
  }
  &.create {
    @include icon-bg('create');
  }
}

#footer {
  height: 24px;
  padding: 3px 7px;
  line-height: 1.4;
  margin-top: -2px;
  perspective: 50px;
  .answers-count {
    position: relative;
    float: right;
    font-size: 10px;
    font-weight: 500;
    right: 20px;
    text-align: center;
    transform-style: preserve-3d;
    width: 120px;
    transform-origin: 100% 10px;
    transition: transform;
    .second {
      margin-left: -60px;
    }
    .first, .second {
      border-radius: 10px;
      height: 12px;
      padding: 4px 10px;
      backface-visibility: hidden;
      position: absolute;
      width: 100%;
    }
    .first {
      width: 100%;
    }
    .second {
      z-index: 2 !important;
      transform: rotateX(-180deg);
      width: 100%;
      display: none;
    }
    &.flipped {
      .second {
        z-index: 2 !important;
        display: initial;
      }
      .first {
        display: none;
      }
      transform: rotateX(180deg);
    }
  }
  #embed {
    display: none;
  }
  .logo {
    width: 53px;
    height: 20px;
    @include icon-bg('statisfy-logo');
    background-size: 50px;
    background-position: 2px;
    background-repeat: no-repeat;
    float: right;
  }
}

@keyframes overlay {
  0% {
    height: 100%;
    opacity: 0.1;
    margin-left: 50%;
    width: 0;
  }
  5% {
    margin-left: 47.5%;
    width: 5%;
  }
  10% {
    margin-left: 45%;
    width: 10%;
  }
  30% {
    opacity: 0.3;
    margin-left: 35%;
    width: 30%;
    border-radius: 70%;
  }
  60% {
    opacity: 0.4;
    margin-left: 15%;
    width: 70%;
    border-radius: 90%;
  }
  70% {
    opacity: 0.5;
    margin-left: 0;
    width: 100%;
    border-radius: 90%;
  }
  80% {
    border-radius: 60%;
  }
  90% {
    border-radius: 30%;
  }
  100% {
    opacity: 0.5;
    margin-left: 0;
    width: 100%;
    border-radius: 0;
  }
}

.overlay {
  opacity: 0.5;
  animation: overlay 0.7s linear alternate;
}

.is-selected {
  z-index: 500;
  width: 25px;
  height: 25px;
  position: absolute;
  display: none;
  background: white;
  border-radius: 50%;
  i {
    font-size: 25px;
    height: inherit;
    width: inherit;
    color: rgb(50, 146, 218);
  }
}

.overlay-text.fa-check {
  display: none;
}
.close-button {
  text-decoration: none;
}
.polls {
  height: 340px;
}
#thank-you {
  height: 375px;
  background: black;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  color: white !important;
  div {
    height: 100%;
  }
  .close-button {
    width: 20px;
    height: 20px;
    color: black;
    background-color: #fff;
    border-radius: 50%;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
  }
}
