#thank-you {
  overflow: hidden;
  background: #000;
  color: #ffffff;
  text-align: center;
}

#thank-you-message {
  margin-top: 29px;
  height: 100%;
}

#thank-you-close {
  background: #f1f2f2;
  color: #000000;
  float: right;
  margin: 10px 10px 0 0;
}

#thank-you-message {
  a { color: red; }
}
