:sass
  .not_visible
    visibility: hidden
  .img-responsive.scale-buttons
    margin-top: 3px
    margin-bottom: 3px

  .question-image-uploader,
  .image-nav-control
    color: white



.row.question-builder#content_constraint
  .col-xs-12.col-sm-8.col-sm-push-2
    .yesno.panel.panel-default
      .panel-heading
        .panel-title
          =link_to question_types_path do
            %span.glyphicon.glyphicon-chevron-left
      .panel-body.imagechooser
        = simple_form_for @question do |f|
          =f.input :type, as: :hidden
          =f.input :rotate, as: :hidden
          .hidden
            .canned{data:{ids:canned_question_image_ids, urls:canned_question_image_web_urls}}
            .id=f.input :background_image_id, as: :hidden
          .row
            .col-xs-12.form-group
              .question
                .over_image_title_container.title=f.input :title, label: false, input_html: { class: "appearing-question-title"},placeholder: "Ask Your Question Here"
                .bgimage= responsive_image_tag @question.web_image_url, class: "img-responsive"
                .col-xs-12
                  =render partial:'/widgets/image_control',locals:{f: f,id: 'background_selector',base_class: 'revert',type: 'question'}
            .col-xs-12
              =f.simple_fields_for :choices do |c|
                .col-xs-12.form-group.answer-option
                  %div.row
                    %a.btn.btn-primary.col-xs-12.option-text
                      .row
                        .col-xs-2.not_visible
                          .bgimage
                            = responsive_image_tag @question.web_image_url, class: "img-responsive scale-buttons"
                      -#=text_area_tag(:title, label: false, placeholder:"Type a response",class:"selectable-choice-text col-sm-12")
                      =c.input :title, label: false, wrapper_html: { class: "question_choice_title"}, placeholder: "Type a response"
          .row
            =render partial:'/widgets/tc_dropdown', locals:{attrs:{:value=>@question.category,:key=>'name',:options=>Category.all,:placeholder=>"Select a Category",:classes=>"col-xs-12 form-group", :name=>"yes_no_question[category_id]",:value_field=>"id",:value=>@question[:category_id]}}
          .row
            .col-xs-12.form-group
              .btn-group.btn-group-justified
                =f.button :submit, "Preview", class: %w(btn-block btn-lg)
            .col-xs-12.form-group
              .btn-group.btn-group-justified
                =f.button :submit, "Continue", class: %w(btn-block btn-lg)

:javascript
  $(function(){

    window.TextAreaAutoReize=function(elem,level_reposition){

      var timeHandler,
      repositionNode;

      var resize=function(){
        clearTimeout(timeHandler)
        $(this).height(0);
        $(this).height(this.scrollHeight);
        if(repositionNode){
          repositionNode.css({top:'50%','margin-top':('-'+(repositionNode.outerHeight()/2)+'px'),position:'aboslute'})
        }

      },
      delayResize=function(){
        clearTimeout(timeHandler)
        timeHandler=setTimeout(resize.bind(this),10);
      }

      if(!arguments.length || (typeof elem!=='string' && !elem.nodeType)){
        console.log('selector or DOM node needed');
        return
      }


      if(typeof elem ==='string'){
        elem=$(elem);
      }
      elem.on('change',resize);
      elem.on('keydown cut paste drop',delayResize);
      if(typeof level_reposition != 'undefined'){
        repositionNode=elem;
        for(i=0; i<level_reposition;i++){
          repositionNode=repositionNode.parent();
        }
      }


  }
    TextAreaAutoReize('#yes_no_question_title',2);

  })