// share-buttons
//= require social-share-button

   html {
	margin: 0;
}
body {
	position: relative;
	-webkit-font-smoothing: antialiased;
	font-family: 'Lato', sans-serif !important;
	padding-top: 53px;
	line-height: 20px;
    line-height: 1.428571429;
    background-color: lightsteelblue;

	h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
		font-family: 'Lato', sans-serif !important;
		font-weight: bold;
		color: inherit;
		text-rendering: optimizelegibility;
	}

	h1,h2,h3 {
		line-height: 40px;
	}

	h2 {
		font-size: 31.5px;
	}
}
a:hover {
	text-decoration: none;
}
input[type="text"], 
input[type="password"], 
input[type="submit"],
textarea {
	font-family: 'Lato', Helvetica;
}

body {
	&.pull_top {
    	padding-top: 0px !important;
	}
}

.btn.form-group{
  margin-bottom:20px;
}

header {
    background-color: rgba(0,0,0,.6);
}

.section_header {
	width: 100%;
	margin-bottom: 60px;

	h3 {
		color: rgb(100, 100, 100);
		font-weight: 300;
		font-style: italic;
		font-size: 27px;
		border-bottom: 1px solid #b3b3b3;
		padding-bottom: 0px;
		display: inline-block;
		margin:0;
	}
}

/* Global
-------------------------------------------------- */
.page_header {
	background-color: #000;
	color: #fff;
	font-size: 23px;
	display: inline-block;
	padding: 0px 18px;
}
.social_icon {
	background: url("../../img/social_icons.png") no-repeat;
	width: 110px;
	height: 18px;
}
.contact_social {
	background: url("../../img/contact_social.png") no-repeat;
	width: 180px;
	height: 34px;
}


/* Responsive
-------------------------------------------------- */

@media (max-width: 991px) {
	body { padding-top: 0 !important; }
	
	.navbar {
		&.navbar-inverse {
			background: #252528;
		}
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.navbar {
		margin-bottom: 0;
		
		&.transparent {
			&.navbar-fixed-top {
				margin-bottom: -70px;
				position: relative;
				top: 999;
			}
		}

		&.home {
			&.navbar-fixed-top {
				margin-bottom: -70px;
				position: relative;
				top: 999;
			}
		}
	} 
}

@media (max-width: 767px) {

	.navbar {
		&.navbar-inverse {
			.container {
				.navbar-header {
					.navbar-brand {
						margin-left: -5px;
					}
				}
			}
		}

		.navbar-nav {
			.open {
				.dropdown-menu {
					>li {
						>a {
							line-height: 25px;
							font-weight: bold;
							padding: 5px 15px 5px 35px;
						}
					}
				}
			}
		}
	}

/*
	#footer {
		.container {
			padding: 0px 20px;
		}

		.footer_header {
			margin-left: 0;

			h3 {
				margin-left: 0;
			}
		}

		.testimonials {
			overflow: hidden;
			margin-bottom: 40px;
			
			.footer_header {
				margin-left: 0;
			}

			.wrapper {
				float: left;
				width: 100%;
			}
		}

		.contact {
			margin: 0;

			.footer_header {
				margin-left: 0;
			}

			input[type="text"], textarea {
				float: left;
				width: 100%;
			}
		}

		.info {
			.touch {
				float: none;

				ul {
					margin:15px 0 15px;

					li {
						margin: 0 30px 0 0;
					}
				}
			}
		}

		.credits {
			margin-top: 20px;
		}
	}
*/


}
@media (min-width: 450px) and( max-width: 767px) {
  #undertop>div{
    max-width: 450px;
    display:block;
    margin:auto;
  }

}

@media(max-width: 450px){
  [class*="col-xs-12"]{
    padding-left:0 !important;
    padding-right: 0!important;
    &>.row{
      margin-right: 0;
      margin-left: 0;
    }
  }
  #undertop>div{
    overflow:hidden;
    width:100%;
    margin:0;
  }

  .select-option{
    max-height: 100px
  }

  [class^="col-"] > .floating-question-title {
    left: 0!important;
    right: 0!important;
  }
}
