#title {
  background: $gray-light;
  border-bottom: 1px solid $gray-dark;
  margin-bottom: 1px;
  color: #000;
  text-align: center;
  overflow: hidden;

  h1 {
    margin: 0;
    padding: 10px 5px;
    word-wrap: break-word;
    position: absolute;
    font-weight: 500;
    width: 280px;
    text-align: center;
    font-family: roboto-medium;
  }
}
