<footer id="footer" class="section">
  <div class="container">
    <p class="copyright pull-left">&copy; 2014. Statisfy, Inc. All Rights Reserved.</p>
    <p class="copyright pull-right">Home | Get the App | Sign Up | Login | Help | Contact Us | Blog | For Business | Terms and Privacy | Join Us</p>
  </div>
</footer>
