.navbar.navbar-inverse.navbar-fixed-top.sticky{:role => "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle.pull-right{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      - if user_signed_in?
        = link_to "Hi #{current_user.name}", [current_user], class:"navbar-brand"
      - else
        = link_to root_path, class:"navbar-brand" do
          %strong Crash Mob
    .collapse.navbar-collapse.navbar-ex1-collapse{:role => "navigation"}
      = render_navigation
