.container
  .section_header
  .row
    .col-xs-6.col-xs-offset-3
      .infobox.error-message
        = image_tag '404-error-low.gif', width: 493, height: 300
        %h1
          We could not find what you were looking for, and neither could
          = link_to 'Liable Intern', 'https://vine.co/u/1147609975988879360', target: '_blank'
          so you know something is seriously wrong. Click
          = link_to 'here', root_path
          to find your way out of this mess.
        %div
          Find this hilarious? Share the pain!
          = social_share_button_tag
