!!!
%html
  %head
    %title Business Template
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    / Styles
    %link{:href => "css/bootstrap/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "css/compiled/bootstrap-overrides.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/compiled/theme.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/compiled/services.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/lib/animate.css", :media => "screen, projection", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/lib/flexslider.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  %body
    .navbar.navbar-inverse.navbar-static-top{:role => "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "index.html"}
            %strong CLEAN CANVAS
        .collapse.navbar-collapse.navbar-ex1-collapse{:role => "navigation"}
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{:href => "index.html"} HOME
            %li
              %a{:href => "about-us.html"} ABOUT US
            %li.dropdown.active
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                PAGES
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{:href => "features.html"} Features
                %li
                  %a{:href => "services.html"} Services
                %li
                  %a{:href => "portfolio.html"} Portfolio
                %li
                  %a{:href => "portfolio-item.html"} Portfolio Item
                %li
                  %a{:href => "coming-soon.html"} Coming Soon
                %li
                  %a{:href => "sign-in.html"} Sign in
                %li
                  %a{:href => "sign-up.html"} Sign up
                %li
                  %a{:href => "backgrounds.html"} Backgrounds
            %li
              %a{:href => "pricing.html"} PRICING
            %li
              %a{:href => "contact.html"} CONTACT US
            %li
              %a{:href => "blog.html"} BLOG
            %li
              %a{:href => "sign-up.html"} Sign up
            %li
              %a{:href => "sign-in.html"} Sign in
    / Service Option 1
    #service_1
      .container
        .section_header
          %h3
            Services
            %span (Option 1)
        .row.service_wrapper
          .col-sm-4
            .feature
              .img_box
                %a{:href => "#"}
                  %img.img-responsive{:src => "img/service1.png"}/
                  %span.circle
                    %span.plus +
              .text
                %h6 Responsive theme
                %p
                  There are many variations of passages of generators on the  embarrassing hidden in content here making it look like.
          .col-sm-4
            .feature
              .img_box
                %a{:href => "#"}
                  %img.img-responsive{:src => "img/service2.png"}/
                  %span.circle
                    %span.plus +
              .text
                %h6 Easy customization
                %p
                  There are many variations of passages of generators on the  embarrassing hidden in content here making it look like.
          .col-sm-4
            .feature.last
              .img_box
                %a{:href => "#"}
                  %img.img-responsive{:src => "img/service3.png"}/
                  %span.circle
                    %span.plus +
              .text
                %h6 Made with love
                %p
                  There are many variations of passages of generators on the  embarrassing hidden in content here making it look like.
    / Service Option 2
    #service_2
      .container
        .section_header
          %h3
            Services
            %span (Option 2)
        .row.perk
          .col-sm-2.circle.circle1
            %img{:alt => "", :src => "img/service_ico1.png"}/
          .col-sm-10.description_wrapper
            %h5 Beautiful on all devices
            %p
              There are many variations of passages of Lorem Ipsum available, injected generators on the  embarrassing hidden in the middle all the dictionary of  randomised words which don’t look even slightly distracted by these distribution of letters, as opposed to using  Content here, content here making it look like readable English. Many desktop publishing packages and web page editors there many variation of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour or randomised words which don’t look even slightly believable. If you are anything embarrassing hidden in the middle of text.
        .row.perk
          .col-sm-2.circle
            %img{:alt => "", :src => "img/service_ico2.png"}/
          .col-sm-10.description_wrapper
            %h5 Blog page included
            %p
              There are many variations of passages of Lorem Ipsum available, injected generators on the  embarrassing hidden in the middle all the dictionary of  randomised words which don't look even slightly distracted by these distribution of letters, as opposed to using  Content here, content here making it look like readable English. Many desktop publishing packages and web page editors there many variation of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour or randomised words which don't look even slightly believable. If you are anything embarrassing hidden in the middle of text.
        .row.perk.last
          .col-sm-2.circle
            %img{:alt => "", :src => "img/service_ico3.png"}/
          .col-sm-10.description_wrapper
            %h5 Simple and clean coming soon page
            %p
              There are many variations of passages of Lorem Ipsum available, injected generators on the  embarrassing hidden in the middle all the dictionary of  randomised words which don't look even slightly distracted by these distribution of letters, as opposed to using. Content here, content here making it look like readable English. Many desktop publishing packages and web page editors there many variation of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour or randomised words which don't look even slightly believable. If you are anything embarrassing hidden in the middle of text.
    / Service Option 3
    #process
      .container
        .section_header
          %h3
            Services
            %span (Option 3)
        .row.services_circles
          .col-sm-4.description
            .text.active
              %h4 Plan what you need.
              %p
                There are many variations of passages of  this suffered alteration in some form, by injected look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to making this the first true generator  Internet.
            .text
              %h4 Develop your product or service.
              %p
                There are many variations of passages of  this suffered alteration in some form, by injected look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to
                making this the first true generator  Internet.
            .text
              %h4 Design this theme to your needs.
              %p
                There are many variations of passages of  this suffered alteration in some form, by injected look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to making this the first true generator  Internet.
          .col-sm-7.col-xs-12.areas
            .circle.active
              %img{:src => "img/plan.png"}/
              %span Plan
            .circle
              %img{:src => "img/develop.png"}/
              %span Develop
            .circle.last_circle
              %img{:src => "img/design.png"}/
              %span Design
    / starts footer
    %footer#footer
      .container
        .row.info
          .col-sm-6.residence
            %ul
              %li 2301 East Lamar Blvd. Suite 140. City, Arlington.
              %li United States, Zip Code TX 76006.
          .col-sm-5.touch
            %ul
              %li
                %strong P.
                1 817 274 2933
              %li
                %strong E.
                %a{:href => "#"} bootstrap@twitter.com
        .row.credits
          .col-md-12
            .row.social
              .span12
                %a.facebook{:href => "#"}
                  %span.socialicons.ico1
                  %span.socialicons_h.ico1h
                %a.twitter{:href => "#"}
                  %span.socialicons.ico2
                  %span.socialicons_h.ico2h
                %a.gplus{:href => "#"}
                  %span.socialicons.ico3
                  %span.socialicons_h.ico3h
                %a.flickr{:href => "#"}
                  %span.socialicons.ico4
                  %span.socialicons_h.ico4h
                %a.pinterest{:href => "#"}
                  %span.socialicons.ico5
                  %span.socialicons_h.ico5h
                %a.dribble{:href => "#"}
                  %span.socialicons.ico6
                  %span.socialicons_h.ico6h
                %a.behance{:href => "#"}
                  %span.socialicons.ico7
                  %span.socialicons_h.ico7h
            .row.copyright
              .col-md-12
                © 2013 Clean Canvas. All rights reserved. Theme by Detail Canvas.
    %script{:src => "http://code.jquery.com/jquery-latest.js"}
    %script{:src => "js/bootstrap.min.js"}
    %script{:src => "js/theme.js"}
    %script{:src => "js/flexslider.js", :type => "text/javascript"}
