- # We only support ImageChoiceQuestions with exactly 2 choices
- if question.kind_of?(ImageChoiceQuestion) && question.choices.count == 2
  = render "embeddable_units/response_fields/image_choice_response", question: question
- else
  #error "Unsupported question type for embeddable units"
  = link_to "Skip", next_question_url(question), target: "_self"
