.question-response{class: @question.type}
  = form_tag embeddable_unit_response_path(@embeddable_unit.uuid, @question), target: '_self' do
    = render "embeddable_units/response_fields", question: @question
