- content_for :script do
  - if ENV['GOOGLE_ANALYTICS_ID'].present?
    :javascript
      ga('send', 'event', 'embeddable', 'view', '#{@question.id}', 3);

    - if responding?
      :javascript
        ga('send', 'event', 'embeddable', 'response', '#{@question.id}', 3);

.question-response{class: @question.type}
  = form_tag embeddable_unit_response_path(@embeddable_unit.uuid, @question), target: '_self' do
    = render "embeddable_units/response_fields", question: @question
