:coffee
  # auto advance to the next page after some time
  next = ->
    document.getElementById('next').click();
  setTimeout next, 20*1000

- total_response_count = @response.question.responses.count

- # We only support ImageChoiceQuestions with exactly 2 choices
- unless @response.question.kind_of?(ImageChoiceQuestion) && @response.question.choices.count == 2
  #error "Unsupported question type for embeddable units"
  = link_to "Next", embeddable_unit_next_question_path(@embeddable_unit.uuid, @response.question), target: "_self"
- else
  .summary
    .title.resize
      .table
        .cell=@response.question.title
    .back
    -@response.question.choices.each do |c|
      .choice{class: @response.choice.id == c.id ? :selected : nil}
        .checkmark
        %label
          =responsive_image_tag((c.web_image_url || image_path("fallback/choice#{n}.png")), class: "img-responsive", style:"width: 125px; height: 125px;")
          - if total_response_count > 0
            - percentage = c.responses.count.to_f / total_response_count.to_f
            .graph{data:{percentage: 100 * percentage}}
              .bar-line
              .percentage
          .subtitle=c.title
    .next.prominent
      =link_to embeddable_unit_next_question_path(@embeddable_unit.uuid, @response.question), target: "_self", id:"next" do
        =image_tag image_path("embed/next.png")
    .footer
      .share
      .logo
