=f.input :inclusion, as: :radio_buttons, collection: ResponseMatcher::INCLUSION_COLLECTION, label_method: :last, value_method: :first
=f.association :choice, collection: f.object.question.choices, as: :radio_buttons
