:coffeescript
  interval = setInterval ->
      if window.jQuery
        $(document).ready ->
          $('button[type="submit"]').click ->
            $('[data-targeting-script]').each ->
              script = $(this).data('targeting-script')
              window.placeTargetingScript(script)
        clearInterval(interval)
    , 50