.question-response{class: @question.type}
  = form_tag qp_create_response_path(@survey.uuid, @ad_unit.name, @question), target: '_self' do
    = render "surveys/response_fields", question: @question, survey: @survey, ad_unit_name: @ad_unit.name
