.panel
  .panel-heading
    .panel-title
      %span= "Edit Listicle: #{text_from_html(@listicle.get_intro)}"
  .panel-body{style: 'padding-top: 20px'}
    = render partial: 'form', listicle: @listicle