= link_to gravatar_for(current_user, size: 52), current_user
%h1
  = current_user.name
%span
  = link_to "view my profile", current_user
/ Hide micropost legacy stuff for now with if false statement
- if false
  %span
    = pluralize(current_user.microposts.count, "micropost")
/ End of hiding micropost legacy stuff
