#= require jquery
#= require jquery.cookie
#= require jquery-ui
#= require jquery_ujs

csrfToken = null
qd = $.Deferred();
window.qr = (r)-> qd.resolve(r.segments)
sendDemograhics = ->

votingFn = ->
  $('a.vote').click (e)->
    $el = $(this)
    e.preventDefault()
    e.stopPropagation()
    setClickedArrow = ->
      $el.parent().find('a.vote').removeClass 'clicked'
      $el.addClass 'clicked'
    $.ajax
      url: $el.attr('href')
      method: 'POST'
    .done (result)->
      score = parseInt(result.score)
      $scoreEl = $el.parent().find('.score')
      if score >= 0
        $scoreEl.removeClass('negative')
      else
        $scoreEl.addClass('negative')
      $scoreEl.text Math.abs(result.score)
      setClickedArrow()

readyFn = ->
  csrfToken = $('meta[name="csrf-token"]').attr('content')

  qd.then (d)->
    $.ajax (window.location.pathname + '/quantcast'), {
      type: 'POST',
      dataType: 'json',
      data: {quantcast: JSON.stringify(d)},
      headers: {'X-CSRF-Token': csrfToken}
    }
    votingFn()
  getCodeTemplate = (link, width = 600, height = 600)->
    "&lt;div style=\"height: #{height}px; width: #{width}px;\"&gt;&lt;iframe width=\"#{width}\" height=\"#{height}\" src=\"#{link}\" frameborder='0' &gt;&lt;/iframe&gt;&lt;div&gt;"

  $('.embed-code').click (e)->
    e.preventDefault()
    e.stopPropagation()

    $el = $(this)
    href = $el.attr('href')

    $dialog = $('#dialog')
    $dialog.html "<div><label>Height: <input type='number' id='iframe-height' style='font-weight: normal; width: 70px' value='600'></label>" +
        "<div><label>Width: <input type='number' id='iframe-width' style='font-weight: normal; width: 70px' value='600'></label><br />" +
        "&nbsp;<a href='" + href + "' id='preview-dialog'><i class='fa fa-eye'></i> Preview</a>" +
        "<br><br><pre id='iframe-code' style='word-break: break-word'>#{getCodeTemplate(href)}</pre></div>"

    changeCode = ->
      $('#iframe-code').html getCodeTemplate(href, $('#iframe-width').val(), $('#iframe-height').val())

    $dialog.find("#iframe-height").change(changeCode)
    $dialog.find("#iframe-width").change(changeCode)
    $dialog.dialog()

  $('#delete-listicle').click (e)->
    e.preventDefault()
    e.stopPropagation()
    href = $(this).attr('href')
    if window.confirm('Do you want to remove this listicle?')
      $.ajax
        url: href
        dataType: 'json'
        method: 'DELETE'
        complete: -> window.close()

$(document).ready readyFn
$(document).on 'page:load', readyFn
$(window).unload ->
  cookieName = 'listicle_user_<%= Rails.env %>'
  Cookies.remove(cookieName);
