.stat-panel
  .stat-row
    .stat-cell.col-sm-4.padding-sm-hr.bordered.no-border-r.valign-top
      %h4.padding-sm.no-padding-t.padding-xs-hr
        %i.fa.fa-cloud-upload.text-primary>
        \&nbsp;&nbsp;Summary
      %ul.list-group.no-margin
        - @campaign_data.each do |data|
          - color_class = data[:value].to_i < 1000 ? "label-danger" : "label-success"
          %li.list-group-item.no-border-hr.padding-xs-hr.no-bg.no-border-radius
            =data[:label]
            %span.label.pull-right{class: color_class}=number_with_delimiter data[:value]
    .stat-cell.col-sm-8.bg-primary.padding-sm.valign-middle
      #hero-graph.graph{style: "height: #{@campaign_data.count * 40 + 90}px;"}
