.stat-panel
  .stat-row
    .stat-cell.bg-warning
      %span.text-bg
        =number_to_percentage (@engagement_increase_rate * 100).abs, precision:0
        =@engagement_increase_rate > 0 ? "more" : "fewer"
      %br/
      %span.text-sm Engagements Yesterday than the day before
  .stat-row
    .stat-cell.bg-warning.padding-sm.no-padding-t.text-center
      #engagements_graph.stats-sparklines{data: {points: @engagement_data_points}, style: "width: 100%"}