.stat-panel
  .stat-row
    .stat-cell.bg-warning
      %span.text-bg 11% more
      %br/
      %span.text-sm Unique Engagements Today
  .stat-row
    .stat-cell.bg-warning.padding-sm.no-padding-t.text-center
      #engagements_graph.stats-sparklines{data: {points: [275,490,397,487,339,403,402,312,300,294,411,367,319,416,355,416,371,479,279,361,312,269,402,327,474,422,375,283,384,372]}, style: "width: 100%"}