.stat-panel
  .stat-cell.bg-danger.valign-middle
    %i.fa.fa-trophy.bg-icon
    %span.text-xlg
      %strong=number_with_delimiter 7898
    %br/
    %span.text-bg Unique Insights Gathered Today
    %br/
    %span.text-sm
      =link_to "See details in your profile", '#'
