#comments.panel.panel-warning
  .panel-heading
    %span.panel-title
      %i.panel-title-icon.fa.fa-fire.text-danger>
      Recent
    %ul.nav.nav-tabs.nav-tabs-xs
      %li.active
        %a{"data-toggle" => "tab", :href => "#dashboard-recent-comments"} Comments
      %li
        %a{"data-toggle" => "tab", :href => "#dashboard-recent-completes"} Completes

  .tab-content

    #dashboard-recent-comments.widget-comments.panel-body.tab-pane.no-padding.fade.active.in
      .panel-padding.no-padding-vr
        - @dummy_comment_data.each do |c|
          .comment
            =gravatar_for c[:email], class: %w(comment-avatar)
            .comment-body
              .comment-by
                =link_to c[:name], c[:url], title: ""
                commented on
                =link_to c[:campaign_name], c[:campaign_url], title: ""
              .comment-text= c[:text]
              .comment-actions
                =link_to '#' do
                  %i.fa.fa-pencil>
                  Edit
                =link_to '#' do
                  %i.fa.fa-times>
                  Remove
                %span.pull-right
                  =time_ago_in_words c[:date]
                  ago

    #dashboard-recent-completes.widget-threads.panel-body.tab-pane.no-padding.fade
      .panel-padding.no-padding-vr
        - @dummy_complete_data.each do |c|
          .thread
            =gravatar_for c[:email], class: %w(thread-avatar)
            .thread-body
              %span.thread-time
                =time_ago_in_words c[:date]
                ago
              =link_to c[:response], c[:response_url], title: "", class: %w(thread-title)
              .thread-info
                completed by
                =link_to c[:name], c[:url], title: ""
