#responses.panel.panel-success.widget-support-tickets
  .panel-heading
    %span.panel-title
      %i.panel-title-icon.fa.fa-bullhorn>
      Responses / Completes
    .panel-heading-controls
      .panel-heading-text
        =link_to pluralize(@recent_question_actions.count, "new response"), '#'

  .panel-body.tab-content-padding
    .panel-padding.no-padding-vr
      - @recent_question_actions.each do |action|
        .ticket
          - if action.completed?
            %span.label.label-success.ticket-label Completed
            =action.response.question.title
            = link_to [action.response], class: %w(ticket-title), title: "" do
              =action.response.description
              %span [##{action.response.id}]
          - else
            %span.label.label-danger.ticket-label Skipped
            .ticket-title
              Skipped
              %span [##{action.response.id}]
          %span.ticket-info
            by
            =action.respondent.username
            =time_ago_in_words action.date
            ago
