.stat-panel.text-center
  .stat-row
    .stat-cell.bg-dark-gray.padding-sm.text-xs.text-semibold
      %i.fa.fa-globe>
      \&nbsp;&nbsp;View Rate
  .stat-row
    .stat-cell.bordered.no-border-t.no-padding-hr
      #easy-pie-chart-1.pie-chart{"data-percent" => "81"}
        .pie-chart-label 81%
