- question = response.question
.summary
  .back

  - question.choices.each do |c|
    .choice{class: response.choice.id == c.id ? :selected : nil}
      .checkmark
      %label
        - choice_image = c.web_image_url || image_path("fallback/choice#{n}.png")
        = responsive_image_tag(choice_image, class: "img-responsive", style:"width: 125px; height: 125px;")
        .graph{data:{percentage: 100 * c.response_ratio}}
          .bar-line
          .percentage
        .subtitle
          .table
            .cell=c.title

  #next-button.next.prominent
    = link_to next_question_path(question), target: "_self", id: "next" do
      = image_tag image_path("embed/next.png")

  .footer
    .share
    .logo
