.col-xs-12.col-sm-12.nested-fields.answer.form-group
  .choice.imagechooser
    .hidden
      .canned{data:{ids:canned_order_choice_image_ids, urls:canned_order_choice_image_web_urls}}
      .id=f.input :background_image_id, as: :hidden
    .bgimage
      = responsive_image_tag f.object.web_image_url, class: "img-responsive center-block"
      .overimage
        =link_to_remove_association "Remove Choice", f
        =render partial:'/widgets/image_control',locals:{f:f,id:'background_selector',distro: :upload_middle}
        .title.image-choice-footer
          =f.input :title, label: false, placeholder: "Type a response", input_html:{class: :revealable}