:sass
  .close.remove_fields
    margin-right: 10px



.row.question-builder#content_constraint
  .col-xs-12.col-sm-8.col-sm-push-2
    = simple_form_for @question, :html=>{class:"prioritizer panel panel-default"} do |f|
      .panel-heading.col-xs-12
        .panel-title.row
          .col-xs-3
            =link_to question_types_path do
              %span.glyphicon.glyphicon-chevron-left
          .col-xs-6.col-xs-push-3
            =f.button :submit, "Preview", class: %w(btn-primary negative transparent no-border btn-lg)
      .panel-body
        %div
          =f.input :type, as: :hidden
          .row
            .col-sm-12
              .row.question
                .col-xs-12
                  .title
                    .text.required.questionare-title.btn-primary.question-header-style-title
                      =f.input_field :title, label: false , class: "revealable title", placeholder: "Ask Your Question Here"
                      =render partial:'/widgets/char_counter',locals:{:selector => ".questionare-title .revealable.title"}

                =f.simple_fields_for :choices do |choice|
                  = render 'choice_fields', f:choice

                .col-xs-12
                  =link_to_add_association  f, :choices, class: 'nested-fields answer' do
                    .choice
                      .overimage.add-option
                        %h3
                          Add Option
                        %i.glyphicon.glyphicon-plus-sign
              .row
                =render partial:'/widgets/tc_dropdown', locals:{attrs:{:value=>@question.category,:key=>'name',:options=>Category.all,:placeholder=>"Select a Category",:classes=>"col-xs-12 form-group", :name=>"order_question[category_id]",:value_field=>"id",:value=>@question[:category_id]}}