:sass
  .close.remove_fields
    margin-right: 10px


.row.question-builder
  .col-xs-12.col-sm-10.col-sm-push-1.col-md-8.col-md-push-2
    .prioritizer.panel.panel-default
      .panel-heading
        .panel-title
          =link_to question_types_path do
            %span.glyphicon.glyphicon-chevron-left
      .panel-body
        = simple_form_for @question do |f|
          =f.input :type, as: :hidden
          .row
            .col-sm-8.col-sm-push-2
              .row.question
                .col-xs-12
                  .title
                    .text.required.questionare-title.btn-primary.question-header-style-title
                      =f.input_field :title, label: false , class: "revealable title", placeholder: "Ask Your Question Here"

                =f.simple_fields_for :choices do |choice|
                  = render 'choice_fields', f:choice

                .col-xs-12
                  =link_to_add_association  f, :choices, class: 'nested-fields answer' do
                    .choice
                      .overimage.add-option
                        %h3
                          Add Option
                        %i.glyphicon.glyphicon-plus-sign
              .row
                =render partial:'/widgets/tc_dropdown', locals:{attrs:{:value=>@question.category,:key=>'name',:options=>Category.all,:placeholder=>"Select a Category",:classes=>"col-xs-12 form-group", :name=>"order_question[category_id]",:value_field=>"id",:value=>@question[:category_id]}}

              .row
                .col-xs-12.col-md-6.form-group
                  .btn-group.btn-group-justified
                    =f.button :submit, "Preview", class: %w(btn-block btn-lg)
                .col-xs-12.col-md-6.form-group
                  .btn-group.btn-group-justified
                    =f.button :submit, "Continue", class: %w(btn-block btn-lg)
