//= require font-awesome
//= require_self

//= require ad_unit/base
//= require ad_unit/choices/bars
//= require ad_unit/choices/image_choices
//= require ad_unit/choices/order_choices
//= require ad_unit/choices/text_areas

//= require ad_unit/sizes/medium_rectangle


@import "ad_unit/variables";

.clearfix { clear: both; }

button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  &:disabled { cursor: not-allowed; }
}

// -----------------------------------------------------------------------------
// Layout

#below-buttons {
  clear: both;
}

#between-buttons {
  margin-bottom: 1px;
}

#between-button-content {
  height: 100%;
  overflow: hidden;
}

// -----------------------------------------------------------------------------
// Background Image (Temporary)

.main-image {
  height: 100%;
  background-size: cover;
  background-position: center;
}

// -----------------------------------------------------------------------------
// Text Question Text Area

#question.TextQuestion {

}
