//= require_self
//= require ad_unit/base
//= require ad_unit/choices

@import "ad_unit/variables";

// -----------------------------------------------------------------------------
// Misc

.clearfix { clear: both; }

button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}

// -----------------------------------------------------------------------------
// Layout

#below-buttons {
  clear: both;
}

#between-buttons {
  margin-bottom: 1px;
}

#between-button-content {
  height: 100%;
  overflow: hidden;
}

.nav-button {
  background: $gray-light;
  font-weight: 600;
  height: 100%;
  text-align: center;

  &.disabled {
    background: $gray-lighter;
    cursor: not-allowed;
    color: $gray-dark;
  }
}

a.nav-button {
  color: #000000;
  text-decoration: none;

  &:hover {
    background: $gray-dark;
  }
}

#back-button { float: left; }
#next-button { float: right; }

// -----------------------------------------------------------------------------
// Background Image (Temporary)

.main-image {
  height: 100%;
  background-size: cover;
  background-position: center;
}

// -----------------------------------------------------------------------------
// Text Question Text Area

#question.TextQuestion {
  .textarea {
    background: $orange-light;
    textarea {
      resize: none;
      outline: none;
      font-size: 14px;
      display: block;
      border: 5px solid $orange-light;
      border-radius: 6px;
      margin-bottom: 1px;
      color: #000;
    }

    textarea::-webkit-input-placeholder {
      color: $orange-light;
    }

    textarea:-moz-placeholder {
      color: $orange-light;
    }

    textarea::-moz-placeholder {
      color: $orange-light;
    }

    textarea:-ms-input-placeholder {
      color: $orange-light;
    }
  }
}

// -----------------------------------------------------------------------------
// Order Choice Bar

.order-choice-bar {
  background-size: cover;
  background-position: center;
  margin-bottom: 1px;
  &:last-of-type { margin-bottom: 0px; }

  .order-choice-title {
    float: left;
    width: 40%;
    text-align: center;
    color: #fff;
    background: #000000;
    background: rgba(#000000, 0.85);
    padding: 0px 5px;
    line-height: 35px;
  }

  .order-choice-orderer {
    font-size: 11px;
    color: #fff;
    float: right;
    padding-top: 2px;
  }

  .bar-blue {
    float: right;
    width: 15%;
  }

  cursor: move;
  .has-response & { cursor: default; }
}

// -----------------------------------------------------------------------------
// AdUnit layout and font sizes

.medium_rectangle {
  #title {
    height: 36px;
    width: 294px;
    padding: 5px 3px;
    h1 {
      font-size: 15px;
      line-height: 18px;
    }
  }

  #question { height: 183px; }

  .nav-button {
    width: 18px;
  }

  #between-button-content {
    margin-left: 19px;
    margin-right: 19px;
  }

  #footer {
    top: 231px;
    width: 300px;
  }

  #thank_you {
    height: 230px;
    max-resolution: 230px;
    overflow: hidden;
  }

  // ********************************
  // TextChoiceQuestion/YesNoQuestion

  #question.TextChoiceQuestion,
  #question.YesNoQuestion {
    .nav-button .icon { margin-top: 45px; }
    #between-buttons { height: 116px; }

    &.choices-3 {
      .nav-button .icon { margin-top: 32px; }
      #between-buttons { height: 83px; }
    }

    &.choices-4 {
      .nav-button .icon { margin-top: 16px; }
      #between-buttons { height: 50px; }
    }
  }

  // ********************************
  // Image Choice Question (Pick One)

  #question.ImageChoiceQuestion {
    .nav-button .icon { margin-top: 75px; }
    #between-buttons { height: 182px; }

    &.choices-1, &.choices-2 {
      .image-choice {
        height: 182px;
        .spacer { height: 149px; }
      }
    }

    &.choices-3, &.choices-4 {
      .image-choice {
        height: (182px / 2) - 1px;
        .spacer { height: 58px; }
      }
    }
  }

  // ********************************
  // Text Question

  #question.TextQuestion {
    .nav-button .icon { margin-top: 30px; }
    #between-buttons { height: 90px; }

    textarea {
      width: 300px - 14px;
      height: 44px;
    }

    .bar-blue {
      height: 61px;
      padding-top: 30px;
    }
  }

  // ********************************
  // Order Question

  #question.OrderQuestion {
    @mixin order-choice-height($height) {
      #between-buttons { height: $height; }

      $choices: 2 3 4;
      @each $choice in $choices {
        &.choices-#{$choice} {
          $bar-height: ($height - 3px) / $choice;
          .order-choice-bar, .order-choice-title, .bar-blue, .bar-graph {
            height: $bar-height;
          }
        }
      }
    }

    .nav-button .icon { margin-top: 64px; }
    @include order-choice-height(149px);

    &.has-response {
      .nav-button .icon { margin-top: 85px; }
      @include order-choice-height(182px);
    }
  }
}
