//
// Common
//

//= require jquery.ui.all
//= require_self

//
// Pixel Admin
//

//= require assets/stylesheets/bootstrap
//= require assets/stylesheets/pages
//= require assets/stylesheets/pixel-admin
//= require assets/stylesheets/rtl
//= require assets/stylesheets/themes
//= require assets/stylesheets/widgets

//
// Clean Canvas
//

//= require b3/css/bootstrap/bootstrap.min.css
//= require b3/css/lib/animate
//= require b3/css/lib/flexslider
//= require b3/css/lib/isotope
//= require b3/css/scss/bootstrap-overrides
//= require b3/css/scss/theme
//= require clean_canvas/portfolio
//= require clean_canvas/sign-in

#clean-canvas
  #undertop
    padding-top: 81px

  #footer
    .recent-questions
      .thumb img
        width: 40px
        height: 40px
        border-radius: 20px
      .date
        font-weight: bold
        font-style: italic
      .title