//= require font-awesome
//= require jquery-ui
.top-panel {
  margin-top: -20px;
  padding: 22px 10px 10px;
  position: fixed;
  height: 22px;
  background-color: rgb(251, 251, 251);
  width: 100%;
  border-bottom: 2px solid rgb(230, 230, 230);
  a {
    color: #646464;
    width: 25px;
    margin-right: 7px;
    &:visited {
      text-decoration: none;
    }
    text-decoration: none;
    &:hover {
      color:#9d9d9d;
    }
  }
}
#listicle-show {
  width: 540px;
  padding-left: 100px;
  margin: 0 auto;
}
.embed_listicle {
  .item-content {
    margin-top: -40px;
  }
  font-family: Lato;
  font-size: 12pt;
  max-width: 500px;
  overflow-x: scroll;
  //font-size: 2.5em;
  .separator {
    height: 8px;
    border-style: none;
    margin: 0;
    width: 540px;
  }
  .question-index {
    font-weight: bold;
    text-align: center;
    width: 45px;
    height: 25px;
    display: block;
    color: white;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    font-size: 14pt;
  }
  .voting {
    width: 50px;
    position: relative;
    left: -65px;
    bottom: -50px;
    margin-top: -60px;
    text-align: center;
    .score {
      font-family: Verdana, Arial, Helvetica, sans-serif;
      text-align: center;
      font-weight: bold;
      font-size: 24px;
      &.negative {
        &:before {
          position: absolute;
          margin-left: -8px;
          content: '-'
        }
      }
    }
    .vote {
      display: block;
      width: auto;
      margin: 0 auto;
      cursor: pointer;
      font-size: 14px;
      i.fa {
        text-align: center;
        display: inline-block;
        width: 100%;
        margin: 0 auto;
        font-size: 36px;
      }
    }
  }
}