:sass
  .ignore-float
    float: none !important
    clear: both

  .img-responsive
    max-height: 160px

  .list-unstyled
    padding-left: 15px
    padding-right: 15px

  #ordered_choices
    li
      .panel
        margin-bottom: 0
  .well-wrap.row
    color: #357ebd
%div.q_demographics{data:{url: @user ? demographics_user_path(@user.id, question.id) : nil}}
  .col-xs-12
    .row.order-choices
      .col-xs-12.ignore-float
        = render "questions/response_fields/shared/title", question:question
      %ul#ordered_choices.list-unstyled.col-xs-12
        -weighted_total_responses = question.weighted_total_responses.to_f
        -question.choices.all.each do |c|
          %li
            .panel.panel-default.handle.c_demographics{data:{url: @user ? demographics_user_path(@user.id, question.id, c.id) : nil}}
              .floating-question-title.col-sm-12=c.title
              = responsive_image_tag(c.web_image_url, class: "img-responsive")
              %i.response_counter
                - if weighted_total_responses > 0
                  = number_to_percentage 100 * c.weighted_response_count / weighted_total_responses, precision: 0
    = render "questions/response_fields/shared/sharing", question:question, style_type: 'blue'
