:sass
  .equalizer-md
    margin-bottom: 3%
  .equalizer-sm
    margin-bottom: 1.3%

  .follow-menu
    margin-top: -65px
    background-color: transparent

  .response-info
    position: relative

  .response-text
    font-size: 1.7em
    color: white
    background-color: #2691d9
    padding: 15px 3px
    line-height: 27px
    margin: 2px 0
    text-align: center
    width: 100%
    cursor: pointer

.text-choices.form-group
  .col-xs-12
    .row.q_demographics{data:{url: @user ? demographics_user_path(@user.id, question.id) : nil}}
      .col-xs-12
        = responsive_image_tag((question.web_image_url || image_path("fallback/choice1.png")), class: "img-responsive")
        .floating-question-title
          %span= simple_format question.title
        %div
          .col-xs-12
          = render "questions/response_fields/shared/sharing", question: question
      .col-xs-12
        %br
        - total_response_count = question.responses.count
        - question.choices.each do |c|
          .response-info.c_demographics{data:{url: @user ? demographics_user_path(@user.id, question.id, c.id) : nil}}
            .response-text=c.title
            %i.response_counter
              - if total_response_count > 0
                = number_to_percentage 100 * c.responses.count.to_f / total_response_count.to_f, precision: 0

