!!!
/[if IE 8] <html class="ie8">
/[if IE 9] <html class="ie9 gt-ie8">
/ [if gt IE 9]><!
%html.gt-ie8.gt-ie9.not-ie
  / <![endif]
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title Sign In - PixelAdmin
    %meta{:content => "width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0", :name => "viewport"}/
    / Open Sans font from Google CDN
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300&subset=latin", :rel => "stylesheet", :type => "text/css"}/
    / Pixel Admin's stylesheets
    %link{:href => "assets/stylesheets/bootstrap.min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "assets/stylesheets/pixel-admin.min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "assets/stylesheets/pages.min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "assets/stylesheets/rtl.min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "assets/stylesheets/themes.min.css", :rel => "stylesheet", :type => "text/css"}/
    /[if lt IE 9]
      <script src="assets/javascripts/ie.min.js"></script>
  /
    1. $BODY ======================================================================================
    
    Body
    
    Classes:
    * 'theme-{THEME NAME}'
    * 'right-to-left'     - Sets text direction to right-to-left
  %body.theme-default.page-signin-alt
    / Demo script
    %script{:src => "assets/demo/demo.js"}
    / / Demo script
    /
      2. $MAIN_NAVIGATION ===========================================================================
      
      Main navigation
    .signin-header
      %a.logo{:href => "index.html"}
      = succeed "&amp;nbsp;" do
        .demo-logo.bg-primary
          %img{:alt => "", :src => "assets/demo/logo-big.png", :style => "margin-top: -4px;"}/
      = succeed "Admin" do
        %strong Pixel
      / / .logo
      %a.btn.btn-primary{:href => "pages-signup-alt.html"} Sign Up
    / / .header
    %h1.form-header Sign in to your Account
    / Form
    %form#signin-form_id.panel{:action => "index.html"}
      .form-group
        %input#username_id.form-control.input-lg{:name => "signin_username", :placeholder => "Username or email", :type => "text"}/
      / / Username
      .form-group.signin-password
        %input#password_id.form-control.input-lg{:name => "signin_password", :placeholder => "Password", :type => "password"}/
        %a.forgot{:href => "#"} Forgot?
      / / Password
      .form-actions
        %input.btn.btn-primary.btn-block.btn-lg{:type => "submit", :value => "Sign In"}/
      / / .form-actions
    / / Form
    .signin-with
      .header or sign in with
      = succeed "&amp;nbsp;&amp;nbsp;" do
        %a.btn.btn-lg.btn-facebook.rounded{:href => "index.html"}
          %i.fa.fa-facebook
      = succeed "&amp;nbsp;&amp;nbsp;" do
        %a.btn.btn-lg.btn-info.rounded{:href => "index.html"}
          %i.fa.fa-twitter
      %a.btn.btn-lg.btn-danger.rounded{:href => "index.html"}
        %i.fa.fa-google-plus
    / Get jQuery from Google CDN
    / [if !IE]>
    :javascript
      window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js">'+"<"+"/script>");
    / <![endif]
    /[if lte IE 9]
      <script type="text/javascript"> window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js">'+"<"+"/script>"); </script>
    / Pixel Admin's javascripts
    %script{:src => "assets/javascripts/bootstrap.min.js"}
    %script{:src => "assets/javascripts/pixel-admin.min.js"}
    :javascript
      window.PixelAdmin.start([
      	function () {
      		$("#signin-form_id").validate({ focusInvalid: true, errorPlacement: function () {} });
      		
      		// Validate username
      		$("#username_id").rules("add", {
      			required: true,
      			minlength: 3
      		});

      		// Validate password
      		$("#password_id").rules("add", {
      			required: true,
      			minlength: 6
      		});
      	}
      ]);
