!!!
/
  TABLE OF CONTENTS.
  
  Use search to find needed section.
  
  \=====================================================
  
  |  1. $BODY                 |  Body                 |
  |  2. $MAIN_NAVIGATION      |  Main navigation      |
  |  3. $NAVBAR_ICON_BUTTONS  |  Navbar Icon Buttons  |
  |  4. $MAIN_MENU            |  Main menu            |
  |  5. $DEFAULT_TABLES       |  Default tables       |
  |  6. $BORDERED_TABLES      |  Bordered tables      |
  |  7. $HOVER_ROW_TABLES     |  Hover row tables     |
  |  8. $STRIPED_TABLES       |  Striped tables       |
  |  9. $CONDENSED_TABLES     |  Condensed tables     |
  |  10. $TABLE_VARIATIONS    |  Table variations     |
  |  11. $JQUERY_DATA_TABLES  |  jQuery Data Tables   |
  
  \=====================================================
/[if IE 8] <html class="ie8">
/[if IE 9] <html class="ie9 gt-ie8">
/ [if gt IE 9]><!
%html.gt-ie8.gt-ie9.not-ie
  / <![endif]
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title Tables - PixelAdmin
    %meta{:content => "width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0", :name => "viewport"}/
    / Open Sans font from Google CDN
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300&subset=latin", :rel => "stylesheet", :type => "text/css"}/
    / Pixel Admin's stylesheets
    %link{:href => "assets/stylesheets/bootstrap.min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "assets/stylesheets/pixel-admin.min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "assets/stylesheets/widgets.min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "assets/stylesheets/rtl.min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "assets/stylesheets/themes.min.css", :rel => "stylesheet", :type => "text/css"}/
    /[if lt IE 9]
      <script src="assets/javascripts/ie.min.js"></script>
  /
    1. $BODY ======================================================================================
    
    Body
    
    Classes:
    * 'theme-{THEME NAME}'
    * 'right-to-left'      - Sets text direction to right-to-left
    * 'main-menu-right'    - Places the main menu on the right side
    * 'no-main-menu'       - Hides the main menu
    * 'main-navbar-fixed'  - Fixes the main navigation
    * 'main-menu-fixed'    - Fixes the main menu
    * 'main-menu-animated' - Animate main menu
  %body.theme-default.main-menu-animated
    :javascript
      var init = [];
    / Demo script
    %script{:src => "assets/demo/demo.js"}
    / / Demo script
    #main-wrapper
      /
        2. $MAIN_NAVIGATION ===========================================================================
        
        Main navigation
      #main-navbar.navbar.navbar-inverse{:role => "navigation"}
        / Main menu toggle
        %button#main-menu-toggle{:type => "button"}
          %i.navbar-icon.fa.fa-bars.icon
          %span.hide-menu-text HIDE MENU
        .navbar-inner
          / Main navbar header
          .navbar-header
            / Logo
            %a.navbar-brand{:href => "index.html"}
            %div
              %img{:alt => "Pixel Admin", :src => "assets/images/pixel-admin/main-navbar-logo.png"}/
            PixelAdmin
            / Main navbar toggle
            %button.navbar-toggle.collapsed{"data-target" => "#main-navbar-collapse", "data-toggle" => "collapse", :type => "button"}
              %i.navbar-icon.fa.fa-bars
          / / .navbar-header
          #main-navbar-collapse.collapse.navbar-collapse.main-navbar-collapse
            %div
              %ul.nav.navbar-nav
                %li
                  %a{:href => "#"} Home
                %li.dropdown
                  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Dropdown
                  %ul.dropdown-menu
                    %li
                      %a{:href => "#"} First item
                    %li
                      %a{:href => "#"} Second item
                    %li.divider
                    %li
                      %a{:href => "#"} Third item
              / / .navbar-nav
              .right.clearfix
                %ul.nav.navbar-nav.pull-right.right-navbar-nav
                  /
                    3. $NAVBAR_ICON_BUTTONS =======================================================================
                    
                    Navbar Icon Buttons
                    
                    NOTE: .nav-icon-btn triggers a dropdown menu on desktop screens only. On small screens .nav-icon-btn acts like a hyperlink.
                    
                    Classes:
                    * 'nav-icon-btn-info'
                    * 'nav-icon-btn-success'
                    * 'nav-icon-btn-warning'
                    * 'nav-icon-btn-danger'
                  %li.nav-icon-btn.nav-icon-btn-danger.dropdown
                    %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#notifications"}
                      %span.label 5
                      %i.nav-icon.fa.fa-bullhorn
                      %span.small-screen-text Notifications
                    / NOTIFICATIONS
                    / Javascript
                    :javascript
                      init.push(function () {
                      	$('#main-navbar-notifications').slimScroll({ height: 250 });
                      });
                    / / Javascript
                    .dropdown-menu.widget-notifications.no-padding{:style => "width: 300px"}
                      #main-navbar-notifications.notifications-list
                        .notification
                          .notification-title.text-danger SYSTEM
                          .notification-description
                            %strong> Error 500
                            \: Syntax error in index.php at line
                            = succeed "." do
                              %strong 461
                          .notification-ago 12h ago
                          .notification-icon.fa.fa-hdd-o.bg-danger
                        / / .notification
                        .notification
                          .notification-title.text-info STORE
                          .notification-description
                            You have
                            %strong 9
                            new orders.
                          .notification-ago 12h ago
                          .notification-icon.fa.fa-truck.bg-info
                        / / .notification
                        .notification
                          .notification-title.text-default CRON DAEMON
                          .notification-description
                            Job
                            %strong "Clean DB"
                            has been completed.
                          .notification-ago 12h ago
                          .notification-icon.fa.fa-clock-o.bg-default
                        / / .notification
                        .notification
                          .notification-title.text-success SYSTEM
                          .notification-description
                            Server
                            = succeed "." do
                              %strong up
                          .notification-ago 12h ago
                          .notification-icon.fa.fa-hdd-o.bg-success
                        / / .notification
                        .notification
                          .notification-title.text-warning SYSTEM
                          .notification-description
                            %strong> Warning
                            \: Processor load
                            = succeed "." do
                              %strong 92%
                          .notification-ago 12h ago
                          .notification-icon.fa.fa-hdd-o.bg-warning
                        / / .notification
                      / / .notifications-list
                      %a.notifications-link{:href => "#"} MORE NOTIFICATIONS
                    / / .dropdown-menu
                  %li.nav-icon-btn.nav-icon-btn-success.dropdown
                    %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#messages"}
                      %span.label 10
                      %i.nav-icon.fa.fa-envelope
                      %span.small-screen-text Income messages
                    / MESSAGES
                    / Javascript
                    :javascript
                      init.push(function () {
                      	$('#main-navbar-messages').slimScroll({ height: 250 });
                      });
                    / / Javascript
                    .dropdown-menu.widget-messages-alt.no-padding{:style => "width: 300px;"}
                      #main-navbar-messages.messages-list
                        .message
                          %img.message-avatar{:alt => "", :src => "assets/demo/avatars/2.jpg"}/
                          %a.message-subject{:href => "#"} Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                          .message-description
                            from
                            %a{:href => "#"} Robert Jang
                            \&nbsp;&nbsp;·&nbsp;&nbsp;
                            2h ago
                        / / .message
                        .message
                          %img.message-avatar{:alt => "", :src => "assets/demo/avatars/3.jpg"}/
                          %a.message-subject{:href => "#"} Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                          .message-description
                            from
                            %a{:href => "#"} Michelle Bortz
                            \&nbsp;&nbsp;·&nbsp;&nbsp;
                            2h ago
                        / / .message
                        .message
                          %img.message-avatar{:alt => "", :src => "assets/demo/avatars/4.jpg"}/
                          %a.message-subject{:href => "#"} Lorem ipsum dolor sit amet.
                          .message-description
                            from
                            %a{:href => "#"} Timothy Owens
                            \&nbsp;&nbsp;·&nbsp;&nbsp;
                            2h ago
                        / / .message
                        .message
                          %img.message-avatar{:alt => "", :src => "assets/demo/avatars/5.jpg"}/
                          %a.message-subject{:href => "#"} Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                          .message-description
                            from
                            %a{:href => "#"} Denise Steiner
                            \&nbsp;&nbsp;·&nbsp;&nbsp;
                            2h ago
                        / / .message
                        .message
                          %img.message-avatar{:alt => "", :src => "assets/demo/avatars/2.jpg"}/
                          %a.message-subject{:href => "#"} Lorem ipsum dolor sit amet.
                          .message-description
                            from
                            %a{:href => "#"} Robert Jang
                            \&nbsp;&nbsp;·&nbsp;&nbsp;
                            2h ago
                        / / .message
                        .message
                          %img.message-avatar{:alt => "", :src => "assets/demo/avatars/2.jpg"}/
                          %a.message-subject{:href => "#"} Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                          .message-description
                            from
                            %a{:href => "#"} Robert Jang
                            \&nbsp;&nbsp;·&nbsp;&nbsp;
                            2h ago
                        / / .message
                        .message
                          %img.message-avatar{:alt => "", :src => "assets/demo/avatars/3.jpg"}/
                          %a.message-subject{:href => "#"} Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                          .message-description
                            from
                            %a{:href => "#"} Michelle Bortz
                            \&nbsp;&nbsp;·&nbsp;&nbsp;
                            2h ago
                        / / .message
                        .message
                          %img.message-avatar{:alt => "", :src => "assets/demo/avatars/4.jpg"}/
                          %a.message-subject{:href => "#"} Lorem ipsum dolor sit amet.
                          .message-description
                            from
                            %a{:href => "#"} Timothy Owens
                            \&nbsp;&nbsp;·&nbsp;&nbsp;
                            2h ago
                        / / .message
                        .message
                          %img.message-avatar{:alt => "", :src => "assets/demo/avatars/5.jpg"}/
                          %a.message-subject{:href => "#"} Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                          .message-description
                            from
                            %a{:href => "#"} Denise Steiner
                            \&nbsp;&nbsp;·&nbsp;&nbsp;
                            2h ago
                        / / .message
                        .message
                          %img.message-avatar{:alt => "", :src => "assets/demo/avatars/2.jpg"}/
                          %a.message-subject{:href => "#"} Lorem ipsum dolor sit amet.
                          .message-description
                            from
                            %a{:href => "#"} Robert Jang
                            \&nbsp;&nbsp;·&nbsp;&nbsp;
                            2h ago
                        / / .message
                      / / .messages-list
                      %a.messages-link{:href => "#"} MORE MESSAGES
                    / / .dropdown-menu
                  / /3. $END_NAVBAR_ICON_BUTTONS
                  %li
                    %form.navbar-form.pull-left
                      %input.form-control{:placeholder => "Search", :type => "text"}/
                  %li.dropdown
                    %a.dropdown-toggle.user-menu{"data-toggle" => "dropdown", :href => "#"}
                      %img{:src => "assets/demo/avatars/1.jpg"}/
                      %span John Doe
                    %ul.dropdown-menu
                      %li
                        %a{:href => "#"}
                          %span.label.label-warning.pull-right> New
                          Profile
                      %li
                        %a{:href => "#"}
                          %span.badge.badge-primary.pull-right> New
                          Account
                      %li
                        %a{:href => "#"}
                          %i.dropdown-icon.fa.fa-cog>
                          \&nbsp;&nbsp;Settings
                      %li.divider
                      %li
                        %a{:href => "pages-signin.html"}
                          %i.dropdown-icon.fa.fa-power-off>
                          \&nbsp;&nbsp;Log Out
                / / .navbar-nav
              / / .right
          / / #main-navbar-collapse
        / / .navbar-inner
      / / #main-navbar
      / /2. $END_MAIN_NAVIGATION
      /
        4. $MAIN_MENU =================================================================================
        
        Main menu
        
        Notes:
        * to make the menu item active, add a class 'active' to the <li>
        example: <li class="active">...</li>
        * multilevel submenu example:
        <li class="mm-dropdown">
        <a href="#"><span class="mm-text">Submenu item text 1</span></a>
        <ul>
        <li>...</li>
        <li class="mm-dropdown">
        <a href="#"><span class="mm-text">Submenu item text 2</span></a>
        <ul>
        <li>...</li>
        \...
        </ul>
        </li>
        \...
        </ul>
        </li>
      #main-menu{:role => "navigation"}
        #main-menu-inner
          #menu-content-demo.menu-content.top
            /
              Menu custom content demo
              CSS:        styles/pixel-admin-less/demo.less or styles/pixel-admin-scss/_demo.scss
              Javascript: html/assets/demo/demo.js
            %div
              .text-bg
                %span.text-slim Welcome,
                %span.text-semibold John
              %img{:alt => "", :src => "assets/demo/avatars/1.jpg"}/
              .btn-group
                %a.btn.btn-xs.btn-primary.btn-outline.dark{:href => "#"}
                  %i.fa.fa-envelope
                %a.btn.btn-xs.btn-primary.btn-outline.dark{:href => "#"}
                  %i.fa.fa-user
                %a.btn.btn-xs.btn-primary.btn-outline.dark{:href => "#"}
                  %i.fa.fa-cog
                %a.btn.btn-xs.btn-danger.btn-outline.dark{:href => "#"}
                  %i.fa.fa-power-off
              %a.close{:href => "#"} &times;
          %ul.navigation
            %li
              %a{:href => "index.html"}
                %i.menu-icon.fa.fa-dashboard
                %span.mm-text Dashboard
            %li.mm-dropdown
              %a{:href => "#"}
                %i.menu-icon.fa.fa-th
                %span.mm-text Layouts
                %span.label.label-warning Updated
              %ul
                %li
                  %a{:href => "layouts-grid.html", :tabindex => "-1"}
                    %span.mm-text Grid
                %li
                  %a{:href => "layouts-main-menu.html", :tabindex => "-1"}
                    %i.menu-icon.fa.fa-th-list
                    %span.mm-text Main menu
                    %span.label.label-warning Updated
            %li
              %a{:href => "stat-panels.html"}
                %i.menu-icon.fa.fa-tasks
                %span.mm-text Stat panels
            %li
              %a{:href => "widgets.html"}
                %i.menu-icon.fa.fa-flask
                %span.mm-text Widgets
            %li.mm-dropdown
              %a{:href => "#"}
                %i.menu-icon.fa.fa-desktop
                %span.mm-text UI elements
              %ul
                %li
                  %a{:href => "ui-buttons.html", :tabindex => "-1"}
                    %span.mm-text Buttons
                %li
                  %a{:href => "ui-typography.html", :tabindex => "-1"}
                    %span.mm-text Typography
                %li
                  %a{:href => "ui-tabs.html", :tabindex => "-1"}
                    %span.mm-text Tabs &amp; Accordions
                %li
                  %a{:href => "ui-modals.html", :tabindex => "-1"}
                    %span.mm-text Modals
                %li
                  %a{:href => "ui-alerts.html", :tabindex => "-1"}
                    %span.mm-text Alerts &amp; Tooltips
                %li
                  %a{:href => "ui-components.html", :tabindex => "-1"}
                    %span.mm-text Components
                %li
                  %a{:href => "ui-panels.html", :tabindex => "-1"}
                    %span.mm-text Panels
                %li
                  %a{:href => "ui-jqueryui.html", :tabindex => "-1"}
                    %span.mm-text jQuery UI
                %li
                  %a{:href => "ui-icons.html", :tabindex => "-1"}
                    %span.mm-text Icons
                %li
                  %a{:href => "ui-utility-classes.html", :tabindex => "-1"}
                    %span.mm-text Utility classes
            %li.mm-dropdown
              %a{:href => "#"}
                %i.menu-icon.fa.fa-check-square
                %span.mm-text Form components
              %ul
                %li
                  %a{:href => "forms-layouts.html", :tabindex => "-1"}
                    %span.mm-text Layouts
                %li
                  %a{:href => "forms-general.html", :tabindex => "-1"}
                    %span.mm-text General
                %li
                  %a{:href => "forms-advanced.html", :tabindex => "-1"}
                    %span.mm-text Advanced
                %li
                  %a{:href => "forms-pickers.html", :tabindex => "-1"}
                    %span.mm-text Pickers
                %li
                  %a{:href => "forms-validation.html", :tabindex => "-1"}
                    %span.mm-text Validation
                %li
                  %a{:href => "forms-editors.html", :tabindex => "-1"}
                    %span.mm-text Editors
            %li
              %a{:href => "tables.html"}
                %i.menu-icon.fa.fa-table
                %span.mm-text Tables
            %li
              %a{:href => "charts.html"}
                %i.menu-icon.fa.fa-bar-chart-o
                %span.mm-text Charts
            %li.mm-dropdown
              %a{:href => "#"}
                %i.menu-icon.fa.fa-files-o
                %span.mm-text Pages
                %span.label.label-success 16
              %ul
                %li
                  %a{:href => "pages-search.html", :tabindex => "-1"}
                    %span.mm-text Search results
                %li
                  %a{:href => "pages-pricing.html", :tabindex => "-1"}
                    %span.mm-text Plans &amp; pricing
                %li
                  %a{:href => "pages-faq.html", :tabindex => "-1"}
                    %span.mm-text FAQ
                %li
                  %a{:href => "pages-profile.html", :tabindex => "-1"}
                    %span.mm-text Profile
                %li
                  %a{:href => "pages-timeline.html", :tabindex => "-1"}
                    %span.mm-text Timeline
                %li
                  %a{:href => "pages-signin.html", :tabindex => "-1"}
                    %span.mm-text Sign In
                %li
                  %a{:href => "pages-signup.html", :tabindex => "-1"}
                    %span.mm-text Sign Up
                %li
                  %a{:href => "pages-signin-alt.html", :tabindex => "-1"}
                    %span.mm-text Sign In Alt
                %li
                  %a{:href => "pages-signup-alt.html", :tabindex => "-1"}
                    %span.mm-text Sign Up Alt
                %li
                  %a{:href => "pages-invoice.html", :tabindex => "-1"}
                    %span.mm-text Invoice
                %li
                  %a{:href => "pages-404.html", :tabindex => "-1"}
                    %span.mm-text Error 404
                %li
                  %a{:href => "pages-500.html", :tabindex => "-1"}
                    %span.mm-text Error 500
                %li.mm-dropdown
                  %a{:href => "#"}
                    %i.menu-icon.fa.fa-envelope
                    %span.mm-text Messages
                  %ul
                    %li
                      %a{:href => "pages-inbox.html", :tabindex => "-1"}
                        %span.mm-text Inbox
                    %li
                      %a{:href => "pages-show-email.html", :tabindex => "-1"}
                        %span.mm-text Show message
                    %li
                      %a{:href => "pages-new-email.html", :tabindex => "-1"}
                        %span.mm-text New message
                %li
                  %a{:href => "pages-blank.html", :tabindex => "-1"}
                    %span.mm-text Blank page
            %li
              %a{:href => "complete-ui.html"}
                %i.menu-icon.fa.fa-briefcase
                %span.mm-text Complete UI
            %li
              %a{:href => "color-builder.html"}
                %i.menu-icon.fa.fa-tint
                %span.mm-text Color Builder
            %li.mm-dropdown
              %a{:href => "#"}
                %i.menu-icon.fa.fa-sitemap
                %span.mm-text Menu levels
                %span.badge.badge-primary 6
              %ul
                %li
                  %a{:href => "#", :tabindex => "-1"}
                    %span.mm-text Menu level 1.1
                    %span.badge.badge-danger 12
                    %span.label.label-info 21
                %li
                  %a{:href => "#", :tabindex => "-1"}
                    %span.mm-text Menu level 1.2
                %li.mm-dropdown
                  %a{:href => "#", :tabindex => "-1"}
                    %span.mm-text Menu level 1.3
                    %span.label.label-warning 5
                  %ul
                    %li
                      %a{:href => "#", :tabindex => "-1"}
                        %span.mm-text Menu level 2.1
                    %li.mm-dropdown
                      %a{:href => "#", :tabindex => "-1"}
                        %span.mm-text Menu level 2.2
                      %ul
                        %li.mm-dropdown
                          %a{:href => "#", :tabindex => "-1"}
                            %span.mm-text Menu level 3.1
                          %ul
                            %li
                              %a{:href => "#", :tabindex => "-1"}
                                %span.mm-text Menu level 4.1
                        %li
                          %a{:href => "#", :tabindex => "-1"}
                            %span.mm-text Menu level 3.2
                    %li
                      %a{:href => "#", :tabindex => "-1"}
                        %span.mm-text Menu level 2.2
          / / .navigation
          .menu-content
            %a.btn.btn-primary.btn-block.btn-outline.dark{:href => "pages-invoice.html"} Create Invoice
        / / #main-menu-inner
      / / #main-menu
      / /4. $MAIN_MENU
      #content-wrapper
        .page-header
          %h1 Tables
        / / .page-header
        .row
          .col-sm-12
            /
              5. $DEFAULT_TABLES ============================================================================
              
              Default tables
            .panel
              .panel-heading
                %span.panel-title Default tables
              .panel-body
                %table.table
                  %thead
                    %tr
                      %th #
                      %th First Name
                      %th Last Name
                      %th Username
                  %tbody
                    %tr
                      %td 1
                      %td Mark
                      %td Otto
                      %td @mdo
                    %tr
                      %td 2
                      %td Jacob
                      %td Thornton
                      %td @fat
                    %tr
                      %td 3
                      %td Larry
                      %td the Bird
                      %td @twitter
            / /5. $DEFAULT_TABLES
        .row
          .col-sm-6
            /
              6. $BORDERED_TABLES ===========================================================================
              
              Bordered tables
            .panel
              .panel-heading
                %span.panel-title Bordered tables
              .panel-body
                %table.table.table-bordered
                  %thead
                    %tr
                      %th #
                      %th First Name
                      %th Last Name
                      %th Username
                  %tbody
                    %tr
                      %td 1
                      %td Mark
                      %td Otto
                      %td @mdo
                    %tr
                      %td 2
                      %td Jacob
                      %td Thornton
                      %td @fat
                    %tr
                      %td 3
                      %td Larry
                      %td the Bird
                      %td @twitter
            / /6. $BORDERED_TABLES
            /
              7. $HOVER_ROW_TABLES ==========================================================================
              
              Hover row tables
            .panel
              .panel-heading
                %span.panel-title Hover row tables
              .panel-body
                %table.table.table-hover
                  %thead
                    %tr
                      %th #
                      %th First Name
                      %th Last Name
                      %th Username
                  %tbody
                    %tr
                      %td 1
                      %td Mark
                      %td Otto
                      %td @mdo
                    %tr
                      %td 2
                      %td Jacob
                      %td Thornton
                      %td @fat
                    %tr
                      %td 3
                      %td Larry
                      %td the Bird
                      %td @twitter
            / /7. $HOVER_ROW_TABLES
          .col-sm-6
            /
              8. $STRIPED_TABLES ============================================================================
              
              Striped tables
            .panel
              .panel-heading
                %span.panel-title Striped tables
              .panel-body
                %table.table.table-striped
                  %thead
                    %tr
                      %th #
                      %th First Name
                      %th Last Name
                      %th Username
                  %tbody
                    %tr
                      %td 1
                      %td Mark
                      %td Otto
                      %td @mdo
                    %tr
                      %td 2
                      %td Jacob
                      %td Thornton
                      %td @fat
                    %tr
                      %td 3
                      %td Larry
                      %td the Bird
                      %td @twitter
            / /8. $STRIPED_TABLES
            /
              9. $CONDENSED_TABLES ==========================================================================
              
              Condensed tables
            .panel
              .panel-heading
                %span.panel-title Condensed tables
              .panel-body
                %table.table.table-condensed
                  %thead
                    %tr
                      %th #
                      %th First Name
                      %th Last Name
                      %th Username
                  %tbody
                    %tr
                      %td 1
                      %td Mark
                      %td Otto
                      %td @mdo
                    %tr
                      %td 2
                      %td Jacob
                      %td Thornton
                      %td @fat
                    %tr
                      %td 3
                      %td Larry
                      %td the Bird
                      %td @twitter
            / /9. $CONDENSED_TABLES
        .row
          .col-sm-12
            /
              10. $TABLE_VARIATIONS =========================================================================
              
              Table variations
            .panel
              .panel-heading
                %span.panel-title Table variations
              .panel-body
                .row
                  .col-sm-6
                    / Light table
                    .table-light
                      .table-header
                        .table-caption
                          Light Table
                      %table.table.table-bordered
                        %thead
                          %tr
                            %th #
                            %th First Name
                            %th Last Name
                            %th Username
                        %tbody
                          %tr
                            %td 1
                            %td Mark
                            %td Otto
                            %td @mdo
                          %tr
                            %td 2
                            %td Jacob
                            %td Thornton
                            %td @fat
                          %tr
                            %td 3
                            %td Larry
                            %td the Bird
                            %td @twitter
                      .table-footer
                        Footer
                    / / Light table
                    / Success table
                    .table-success
                      .table-header
                        .table-caption
                          Success Table
                      %table.table.table-bordered
                        %thead
                          %tr
                            %th #
                            %th First Name
                            %th Last Name
                            %th Username
                        %tbody
                          %tr
                            %td 1
                            %td Mark
                            %td Otto
                            %td @mdo
                          %tr
                            %td 2
                            %td Jacob
                            %td Thornton
                            %td @fat
                          %tr
                            %td 3
                            %td Larry
                            %td the Bird
                            %td @twitter
                      .table-footer
                        Footer
                    / / Success table
                    / Warning table
                    .table-warning
                      .table-header
                        .table-caption
                          Warning Table
                      %table.table.table-bordered
                        %thead
                          %tr
                            %th #
                            %th First Name
                            %th Last Name
                            %th Username
                        %tbody
                          %tr
                            %td 1
                            %td Mark
                            %td Otto
                            %td @mdo
                          %tr
                            %td 2
                            %td Jacob
                            %td Thornton
                            %td @fat
                          %tr
                            %td 3
                            %td Larry
                            %td the Bird
                            %td @twitter
                      .table-footer
                        Footer
                    / / Warning table
                  .col-sm-6
                    / Primary table
                    .table-primary
                      .table-header
                        .table-caption
                          Primary Table
                      %table.table.table-bordered
                        %thead
                          %tr
                            %th #
                            %th First Name
                            %th Last Name
                            %th Username
                        %tbody
                          %tr
                            %td 1
                            %td Mark
                            %td Otto
                            %td @mdo
                          %tr
                            %td 2
                            %td Jacob
                            %td Thornton
                            %td @fat
                          %tr
                            %td 3
                            %td Larry
                            %td the Bird
                            %td @twitter
                      .table-footer
                        Footer
                    / / Primary table
                    / Danger table
                    .table-danger
                      .table-header
                        .table-caption
                          Danger Table
                      %table.table.table-bordered
                        %thead
                          %tr
                            %th #
                            %th First Name
                            %th Last Name
                            %th Username
                        %tbody
                          %tr
                            %td 1
                            %td Mark
                            %td Otto
                            %td @mdo
                          %tr
                            %td 2
                            %td Jacob
                            %td Thornton
                            %td @fat
                          %tr
                            %td 3
                            %td Larry
                            %td the Bird
                            %td @twitter
                      .table-footer
                        Footer
                    / / Danger table
                    / Info table
                    .table-info
                      .table-header
                        .table-caption
                          Info Table
                      %table.table.table-bordered
                        %thead
                          %tr
                            %th #
                            %th First Name
                            %th Last Name
                            %th Username
                        %tbody
                          %tr
                            %td 1
                            %td Mark
                            %td Otto
                            %td @mdo
                          %tr
                            %td 2
                            %td Jacob
                            %td Thornton
                            %td @fat
                          %tr
                            %td 3
                            %td Larry
                            %td the Bird
                            %td @twitter
                      .table-footer
                        Footer
                    / / Info table
            / /10. $TABLE_VARIATIONS
            /
              11. $JQUERY_DATA_TABLES ===========================================================================
              
              jQuery Data Tables
            / Javascript
            :javascript
              init.push(function () {
              	$('#jq-datatables-example').dataTable();
              	$('#jq-datatables-example_wrapper .table-caption').text('Some header text');
              	$('#jq-datatables-example_wrapper .dataTables_filter input').attr('placeholder', 'Search...');
              });
            / / Javascript
            .panel
              .panel-heading
                %span.panel-title jQuery Data Tables
              .panel-body
                .table-primary
                  %table#jq-datatables-example.table.table-striped.table-bordered{:border => "0", :cellpadding => "0", :cellspacing => "0"}
                    %thead
                      %tr
                        %th Rendering engine
                        %th Browser
                        %th Platform(s)
                        %th Engine version
                        %th CSS grade
                    %tbody
                      %tr.odd.gradeX
                        %td Trident
                        %td
                          Internet
                          Explorer 4.0
                        %td Win 95+
                        %td.center 4
                        %td.center X
                      %tr.even.gradeC
                        %td Trident
                        %td
                          Internet
                          Explorer 5.0
                        %td Win 95+
                        %td.center 5
                        %td.center C
                      %tr.odd.gradeA
                        %td Trident
                        %td
                          Internet
                          Explorer 5.5
                        %td Win 95+
                        %td.center 5.5
                        %td.center A
                      %tr.even.gradeA
                        %td Trident
                        %td
                          Internet
                          Explorer 6
                        %td Win 98+
                        %td.center 6
                        %td.center A
                      %tr.odd.gradeA
                        %td Trident
                        %td Internet Explorer 7
                        %td Win XP SP2+
                        %td.center 7
                        %td.center A
                      %tr.even.gradeA
                        %td Trident
                        %td AOL browser (AOL desktop)
                        %td Win XP
                        %td.center 6
                        %td.center A
                      %tr.gradeA
                        %td Gecko
                        %td Firefox 1.0
                        %td Win 98+ / OSX.2+
                        %td.center 1.7
                        %td.center A
                      %tr.gradeA
                        %td Gecko
                        %td Firefox 1.5
                        %td Win 98+ / OSX.2+
                        %td.center 1.8
                        %td.center A
                      %tr.gradeA
                        %td Gecko
                        %td Firefox 2.0
                        %td Win 98+ / OSX.2+
                        %td.center 1.8
                        %td.center A
                      %tr.gradeA
                        %td Gecko
                        %td Firefox 3.0
                        %td Win 2k+ / OSX.3+
                        %td.center 1.9
                        %td.center A
                      %tr.gradeA
                        %td Gecko
                        %td Camino 1.0
                        %td OSX.2+
                        %td.center 1.8
                        %td.center A
                      %tr.gradeA
                        %td Gecko
                        %td Camino 1.5
                        %td OSX.3+
                        %td.center 1.8
                        %td.center A
                      %tr.gradeA
                        %td Gecko
                        %td Netscape 7.2
                        %td Win 95+ / Mac OS 8.6-9.2
                        %td.center 1.7
                        %td.center A
                      %tr.gradeA
                        %td Gecko
                        %td Netscape Browser 8
                        %td Win 98SE+
                        %td.center 1.7
                        %td.center A
                      %tr.gradeA
                        %td Gecko
                        %td Netscape Navigator 9
                        %td Win 98+ / OSX.2+
                        %td.center 1.8
                        %td.center A
                      %tr.gradeA
                        %td Gecko
                        %td Mozilla 1.0
                        %td Win 95+ / OSX.1+
                        %td.center 1
                        %td.center A
                      %tr.gradeA
                        %td Gecko
                        %td Mozilla 1.1
                        %td Win 95+ / OSX.1+
                        %td.center 1.1
                        %td.center A
                      %tr.gradeA
                        %td Gecko
                        %td Mozilla 1.2
                        %td Win 95+ / OSX.1+
                        %td.center 1.2
                        %td.center A
                      %tr.gradeA
                        %td Gecko
                        %td Mozilla 1.3
                        %td Win 95+ / OSX.1+
                        %td.center 1.3
                        %td.center A
                      %tr.gradeA
                        %td Gecko
                        %td Mozilla 1.4
                        %td Win 95+ / OSX.1+
                        %td.center 1.4
                        %td.center A
                      %tr.gradeA
                        %td Gecko
                        %td Mozilla 1.5
                        %td Win 95+ / OSX.1+
                        %td.center 1.5
                        %td.center A
                      %tr.gradeA
                        %td Gecko
                        %td Mozilla 1.6
                        %td Win 95+ / OSX.1+
                        %td.center 1.6
                        %td.center A
                      %tr.gradeA
                        %td Gecko
                        %td Mozilla 1.7
                        %td Win 98+ / OSX.1+
                        %td.center 1.7
                        %td.center A
                      %tr.gradeA
                        %td Gecko
                        %td Mozilla 1.8
                        %td Win 98+ / OSX.1+
                        %td.center 1.8
                        %td.center A
                      %tr.gradeA
                        %td Gecko
                        %td Seamonkey 1.1
                        %td Win 98+ / OSX.2+
                        %td.center 1.8
                        %td.center A
                      %tr.gradeA
                        %td Gecko
                        %td Epiphany 2.20
                        %td Gnome
                        %td.center 1.8
                        %td.center A
                      %tr.gradeA
                        %td Webkit
                        %td Safari 1.2
                        %td OSX.3
                        %td.center 125.5
                        %td.center A
                      %tr.gradeA
                        %td Webkit
                        %td Safari 1.3
                        %td OSX.3
                        %td.center 312.8
                        %td.center A
                      %tr.gradeA
                        %td Webkit
                        %td Safari 2.0
                        %td OSX.4+
                        %td.center 419.3
                        %td.center A
                      %tr.gradeA
                        %td Webkit
                        %td Safari 3.0
                        %td OSX.4+
                        %td.center 522.1
                        %td.center A
                      %tr.gradeA
                        %td Webkit
                        %td OmniWeb 5.5
                        %td OSX.4+
                        %td.center 420
                        %td.center A
                      %tr.gradeA
                        %td Webkit
                        %td iPod Touch / iPhone
                        %td iPod
                        %td.center 420.1
                        %td.center A
                      %tr.gradeA
                        %td Webkit
                        %td S60
                        %td S60
                        %td.center 413
                        %td.center A
                      %tr.gradeA
                        %td Presto
                        %td Opera 7.0
                        %td Win 95+ / OSX.1+
                        %td.center -
                        %td.center A
                      %tr.gradeA
                        %td Presto
                        %td Opera 7.5
                        %td Win 95+ / OSX.2+
                        %td.center -
                        %td.center A
                      %tr.gradeA
                        %td Presto
                        %td Opera 8.0
                        %td Win 95+ / OSX.2+
                        %td.center -
                        %td.center A
                      %tr.gradeA
                        %td Presto
                        %td Opera 8.5
                        %td Win 95+ / OSX.2+
                        %td.center -
                        %td.center A
                      %tr.gradeA
                        %td Presto
                        %td Opera 9.0
                        %td Win 95+ / OSX.3+
                        %td.center -
                        %td.center A
                      %tr.gradeA
                        %td Presto
                        %td Opera 9.2
                        %td Win 88+ / OSX.3+
                        %td.center -
                        %td.center A
                      %tr.gradeA
                        %td Presto
                        %td Opera 9.5
                        %td Win 88+ / OSX.3+
                        %td.center -
                        %td.center A
                      %tr.gradeA
                        %td Presto
                        %td Opera for Wii
                        %td Wii
                        %td.center -
                        %td.center A
                      %tr.gradeA
                        %td Presto
                        %td Nokia N800
                        %td N800
                        %td.center -
                        %td.center A
                      %tr.gradeA
                        %td Presto
                        %td Nintendo DS browser
                        %td Nintendo DS
                        %td.center 8.5
                        %td.center
                          C/A
                          %sup 1
                      %tr.gradeC
                        %td KHTML
                        %td Konqureror 3.1
                        %td KDE 3.1
                        %td.center 3.1
                        %td.center C
                      %tr.gradeA
                        %td KHTML
                        %td Konqureror 3.3
                        %td KDE 3.3
                        %td.center 3.3
                        %td.center A
                      %tr.gradeA
                        %td KHTML
                        %td Konqureror 3.5
                        %td KDE 3.5
                        %td.center 3.5
                        %td.center A
                      %tr.gradeX
                        %td Tasman
                        %td Internet Explorer 4.5
                        %td Mac OS 8-9
                        %td.center -
                        %td.center X
                      %tr.gradeC
                        %td Tasman
                        %td Internet Explorer 5.1
                        %td Mac OS 7.6-9
                        %td.center 1
                        %td.center C
                      %tr.gradeC
                        %td Tasman
                        %td Internet Explorer 5.2
                        %td Mac OS 8-X
                        %td.center 1
                        %td.center C
                      %tr.gradeA
                        %td Misc
                        %td NetFront 3.1
                        %td Embedded devices
                        %td.center -
                        %td.center C
                      %tr.gradeA
                        %td Misc
                        %td NetFront 3.4
                        %td Embedded devices
                        %td.center -
                        %td.center A
                      %tr.gradeX
                        %td Misc
                        %td Dillo 0.8
                        %td Embedded devices
                        %td.center -
                        %td.center X
                      %tr.gradeX
                        %td Misc
                        %td Links
                        %td Text only
                        %td.center -
                        %td.center X
                      %tr.gradeX
                        %td Misc
                        %td Lynx
                        %td Text only
                        %td.center -
                        %td.center X
                      %tr.gradeC
                        %td Misc
                        %td IE Mobile
                        %td Windows Mobile 6
                        %td.center -
                        %td.center C
                      %tr.gradeC
                        %td Misc
                        %td PSP browser
                        %td PSP
                        %td.center -
                        %td.center C
                      %tr.gradeU
                        %td Other browsers
                        %td All others
                        %td -
                        %td.center -
                        %td.center U
            / /11. $JQUERY_DATA_TABLES
      / / #content-wrapper
      #main-menu-bg
    / / #main-wrapper
    / Get jQuery from Google CDN
    / [if !IE]>
    :javascript
      window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js">'+"<"+"/script>");
    / <![endif]
    /[if lte IE 9]
      <script type="text/javascript"> window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js">'+"<"+"/script>"); </script>
    / Pixel Admin's javascripts
    %script{:src => "assets/javascripts/bootstrap.min.js"}
    %script{:src => "assets/javascripts/pixel-admin.min.js"}
    :javascript
      init.push(function () {
      	// Javascript code here
      })
      window.PixelAdmin.start(init);
